// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.mostAdvancedAiToolStyle {
  margin-top: 200px;

  @include mobile {
    margin-top: 50px;
  }

  .containerStyle {
    padding: 0 80px;

    @include mobile {
      padding: 0 20px;
    }
  }

  .gridSection {
    display: flex;
    gap: 0 86px;

    @include mobile {
      flex-direction: column;
    }
  }

  .header {
    max-width: 350px;

    @include mobile {
      max-width: 90%;
    }

    .title {
      font-weight: 500;
      font-size: 48.83px;
      line-height: 53px;
      letter-spacing: -1px;
      color: $black;

      @include mobile {
        font-size: 35px;
        line-height: 40px;
      }
    }

    .btnSection {
      max-width: 190px;
      margin-top: 56px;

      @include mobile {
        margin-top: 30px;
      }
    }
  }

  .cardSection {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include mobile {
      margin-top: 50px;
      flex-direction: row;
      overflow-x: scroll;
      @include scrollHide;
    }

    .imgBox {
      position: absolute;
      width: 216.31px;
      height: 251px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 65px;

      @include mobile {
        position: relative;
        right: 0px;
        width: 100%;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        @include mobile {
          object-fit: cover;
        }
      }
    }

    .detailCard {
      border-radius: 40px;
      width: 100%;
      padding: 56px;
      display: flex;
      justify-content: space-between;
      position: relative;
      overflow: hidden;

      @include mobile {
        padding: 20px;
        border-radius: 20px;
        flex-direction: column-reverse;
        min-width: 90%;
      }

      &:nth-child(1) {
        background: #e4ddef;

        .imgBox {
          bottom: -30px;

          @include mobile {
            bottom: 0px;
          }
        }
      }
      &:nth-child(2) {
        background: #fbefe6;
      }
      &:nth-child(3) {
        background: #f4f4f4;
      }
      &:nth-child(4) {
        background: #daeeee;
      }
    }

    .contentSection {
      max-width: 365px;

      @include mobile {
        max-width: 100%;
      }
    }

    .title4 {
      font-weight: 500;
      font-size: 31.25px;
      line-height: 33px;
      letter-spacing: -1px;
      color: $black;

      @include mobile {
        margin-top: 30px;
        font-size: 25px;
        line-height: 30px;
      }
    }

    .description {
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -0.5px;
      color: rgba($black, 0.7);
    }
  }

  .skillCard {
    background: #ac95cf;
    border-radius: 40px;
    padding: 72px;
    margin-top: 92px;

    @include mobile {
      padding: 50px 10px;
      border-radius: 20px;
    }

    .title {
      font-weight: 400;
      font-size: 48.83px;
      line-height: 59px;
      text-align: center;
      letter-spacing: -3px;
      color: $white;

      @include mobile {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -1px;
      }
    }

    .tagItems {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 70px;

      @include tablet {
        max-width: 100%;
        gap: 6px;
      }

      @include mobile {
        max-width: 100%;
        gap: 6px;
        margin-top: 30px;
      }
    }

    .badge {
      padding: 10px 20px;
      border-radius: 40px;
      background: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #3d2f52;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;

      @include tablet {
        font-size: 14px;
        line-height: 22px;
        padding: 14px 20px;
      }

      @include mobile {
        font-size: 14px;
        line-height: 22px;
        padding: 12px 20px;
      }
    }
  }
}
