// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section

.communicationServiceStyle {
  padding: 0px $p-padding-inline 70px;
  border-radius: 40px;

  @include tablet {
    padding: 40px;
    border-radius: 20px;
  }

  @include mobile {
    padding: 30px 20px;
    border-radius: 20px;
  }

  .serviceItemStyle {
    display: flex;
    gap: 0 80px;

    @include mobile {
      flex-direction: column;
    }

    .title1 {
      font-weight: 500;
      font-size: 39.06px;
      line-height: 43px;
      letter-spacing: -2px;
      max-width: 70%;
      text-transform: capitalize;
      margin-top: 30px;

      @include tablet {
        max-width: 100%;
        font-weight: 500;
        font-size: 31.25px;
        line-height: 38px;
      }

      @include mobile {
        max-width: 100%;
        font-weight: 500;
        font-size: 31.25px;
        line-height: 38px;
      }
    }

    .description {
      text-align: left;
      color: rgba($black, 0.8);
      font-size: 18px;
      line-height: 26px;
      max-width: 80%;

      @include tablet {
        max-width: 90%;
      }

      @include mobile {
        max-width: 100%;
      }
    }

    .contentSection {
      display: flex;
      align-items: center;
      gap: 0 112px;
    }

    // tagSection
    .tagSection {
      margin-top: 50px;

      @include tablet {
        margin-top: 64px;
      }

      @include mobile {
        margin-top: 30px;
      }

      .title4 {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: $black;
        margin-bottom: 17px;
      }

      .tagItems {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        @include tablet {
          max-width: 100%;
          gap: 6px;
        }

        @include mobile {
          max-width: 100%;
          gap: 6px;
        }
      }

      .badge {
        padding: 10px 30px;
        border-radius: 40px;
        background: #f4f4f4;
        display: flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;

        @include tablet {
          font-size: 14px;
          line-height: 22px;
          padding: 14px 20px;
        }

        @include mobile {
          font-size: 13px;
          line-height: 18px;
          padding: 14px 10px;
        }
      }
    }

    .mediaCard {
      height: 556px;
      width: 100%;
      position: relative;
      overflow: hidden;
      background: #f4f4f4;
      border-radius: 40px;

      @include mobile {
        height: 300px;
        border-radius: 20px;
      }

      img {
        width: 100%;
        object-fit: cover;
        scale: 1.2;
        margin-top: 0vh !important;
        right: -2vw !important;
      }
    }

    .serviceCard {
      display: flex;
      flex-direction: column;
      gap: 0 80px;

      @include mobile {
        margin-bottom: 50px;
      }
      
      &:nth-child(1) {
        .mediaCard {
    
          img {
            margin-top: 8vh !important;
            right: -5vw !important;
            scale: 1.2;
            object-position: top;
          }
        }

      }
    }
  }
}
