// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

.blog-card {
  border-top: 1px solid $border-color;
  padding: 0 20px;
  margin: 0px -30px 0;

  @include mobile {
    border: none;
    margin: 0px -30px 50px;
  }

  .grid-layout {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    display: flex;
    position: relative;
    height: 100%;
    gap: 50px;
    padding-bottom: 30px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }

  .box-style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 28px;
    position: relative;
    padding: 28px 15px 0;
    height: 100%;
    min-width: 30.80%;

    @include mobile {
      max-width: 91%;
      padding: 10px 15px 0;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 25px;
      width: 100%;
      height: 100vh;
      border-right: 1px solid $border-color;
      content: '';
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }

  .img-sec {
    height: 250px;
    width: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    // z-index: 1;

    @include mobile {
      height: 200px;
    }

    .img-style {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
    }
  }

  .title {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 30px;
    max-width: 80%;
    color: $theme-secondary;

    @include mobile {
      font-size: 20px;
      max-width: 90%;
    }
  }

  .description {
    font-size: 18px;
    line-height: 1.5;
    color: $theme-primary-dark;
    font-weight: 500;
    max-width: 80%;
  }

  .read-more-link {
    font-size: 18px;
    color: $theme-secondary;
    display: block;
  }
}