// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.bookADemoStyle {
  padding: 54px $p-padding-inline 28px;
  position: relative;


  @include tablet {
    padding: 0 20px;
  }
  @include mobile {
    padding: 0 20px;
  }

  .title1 {
    color: $white;
    font-weight: 400;
    font-size: 90px;
    line-height: 60px;
    letter-spacing: -3px;
    margin-bottom: 0.5em;

    @include tablet {
      font-size: 58px;
      line-height: 58px;
      margin-bottom: 15px;
    }

    @include mobile {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 15px;
    }
  }

  .title2 {
    font-weight: 500;
    font-size: 90px;
    line-height: 60px;
    color: #ac95cf;
    letter-spacing: -3px;
    margin-bottom: 0.5em;

    @include tablet {
      font-size: 48.83px;
      line-height: 48px;
    }

    @include mobile {
      font-size: 48.83px;
      line-height: 48px;
    }
  }

  .description {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: $white;
    max-width: 60%;
    margin-bottom: 0;

    @include tablet {
      max-width: 60%;
      font-size: 16px;
      line-height: 25px;
    }

    @include mobile {
      max-width: 100%;
      font-size: 16px;
      line-height: 25px;
    }
  }

  .brStyle {
    display: none;

    @include tablet {
      display: block;
    }

    @include mobile {
      display: block;
    }
  }

  .contentSection {
    border-bottom: 1px solid #444444;
    padding-bottom: 130px;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 50px;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 50px;
    }
  }

  .btnSection {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .btnStyle {
    background: $white;
    color: $black;
    font-weight: 600;
    height: 56px;
    font-size: 20px;
    padding: 0 30px;

    &:hover {
      opacity: 0.7;
    }

    @include tablet {
      margin-top: 40px;
    }

    @include mobile {
      margin-top: 40px;
    }
  }

  .videoSection {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
}
