// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// Section Contact
.thanls-modal-style {

  .title3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: -30px;
    text-align: center;
  }

  .ant-modal {
    max-width: 420px;
  }

  .description {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    opacity: 0.7;
  }

  .modal-body-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .ant-modal-content {
    border-radius: 2px;
  }

  .ant-modal-close-x {
    font-size: 22px;
    color: $theme-secondary;
  }

  .thanks-lottie {
    width: 250px;
    height: 250px;
  }

  .ani-img {
    width: 200px;
  }

  .animation-frame {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      object-fit: cover;
      background: transparent;
    }
  }

  iframe {
    border: none;
    background: none;
    width: 220px;
    height: 220px;
  }

  .ant-modal-close {
    display: none;
  }

  .close-btn {
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    z-index: 9;
  }

  .content {
    position: relative;
    z-index: 1;
  }
}