// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.workHeroStyle {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  min-height: 100vh;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://assets.unberry.com/media/images/hero-grid.svg");
    background-repeat: no-repeat;
    content: "";
    background-size: 100%;

    @include tablet {
      background-size: 100%;
      background: url("https://assets.unberry.com/media/images/hero-grid-mobile.svg");
    }

    @include mobile {
      background-size: 100%;
      background: url("https://assets.unberry.com/media/images/hero-grid-mobile.svg");
      background-repeat: no-repeat;
    }
  }

  .containerStyle {
    position: relative;
  }

  @include tablet {
    padding-bottom: 0;
  }

  @include mobile {
    padding-bottom: 0;
  }

  .btnSection {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .titleDesktop {
    text-align: center;
    margin: 0 auto 13px;
    color: $black;
    line-height: 80px;

    @include desktop-lg {
      max-width: 60%;
    }

    @include mobile {
      font-size: 40px;
      line-height: 45px;
    }
  }

  .descriptionText {
    margin: 0 auto;
    text-align: center;
    max-width: 60%;

    @include tablet {
      max-width: 60%;
      font-size: 20px;
      line-height: 26px;
    }

    @include mobile {
      max-width: 90%;
      font-size: 18px;
      line-height: 30px;
    }
  }

  .contentSection {
    padding: 95px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      padding: 85px 0;
    }

    @include mobile {
      padding: 85px 0;
    }
  }

  // Timeline Section
  .timelineSection {
    padding: 94px $p-padding-inline;

    @include mobile {
      padding: 20px;
    }

    .contentSection {
      max-width: 550px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 50px 0;

      @include mobile {
        padding: 0;
      }
    }

    .titleMedium {
      font-weight: 400;
      font-size: 57.83px;
      line-height: 62px;
      letter-spacing: -2px;
      margin: 0 0 70px;
      max-width: 90%;

      span {
        font-weight: 600;
      }

      @include mobile {
        max-width: 100%;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: -1px;
        margin: 0 auto 60px;
      }
    }

    .timelineBox {
      display: flex;
      gap: 0 100px;

      @include mobile {
        flex-direction: column;
        gap: 30px;
      }
    }

    .imgBox {
      width: 672px;
      height: 690px;
      position: relative;
      border-radius: 40px;
      overflow: hidden;

      @include mobile {
        width: 100%;
        height: 290px;
        border-radius: 20px;
      }

      img {
        object-fit: cover;
      }
    }

    .titleSM {
      font-size: 40px;
      line-height: 1.2;
    }
  }
}

.contentTimeline {
  position: relative;
  display: flex;

  &::before {
    background-color: rgba(244, 244, 244, 1);
    height: 340px;
    width: 2px;
    position: relative;
    content: "";
    margin-right: 40px;
    top: 13px;
  }

  &::after {
    background-color: rgba(172, 149, 207, 1);
    height: 0px;
    width: 2px;
    position: absolute;
    content: "";
    margin-right: 40px;
    bottom: 0;
    top: 110px;
    left: 0;
    right: auto;
    animation: change-height 9s ease-in-out infinite;
  }

  @keyframes change-height {
    0% {
      height: 0px;
    }
    100% {
      height: 340px;
    }
  }

  .itemStyle {
    position: relative;

    &::before {
      height: 20px;
      width: 20px;
      background-color: rgba(244, 244, 244, 1);
      position: absolute;
      content: "";
      margin-right: 40px;
      top: 13px;
      left: -50px;
      border-radius: 50%;
      z-index: 1;
    }

    &.active {
      &::before {
        background-color: rgba(172, 149, 207, 1);
      }
    }

    &:nth-child(1) {
      &::before {
        background-color: rgba(172, 149, 207, 1);
      }
    }

    &:nth-child(2) {
      &::before {
        animation: change2;
        animation-delay: 5s;
        background-color: rgba(244, 244, 244, 1);
      }

      @keyframes change2 {
        0% {
          background-color: rgba(244, 244, 244, 1);
        }
        100% {
          background-color: rgba(172, 149, 207, 1);
        }
      }
    }

    &:nth-child(3) {
      &::before {
        animation: change3;
        animation-delay: 7s;
        background-color: rgba(244, 244, 244, 1);
      }

      @keyframes change3 {
        0% {
          background-color: rgba(244, 244, 244, 1);
        }
        100% {
          background-color: rgba(172, 149, 207, 1);
        }
      }
    }
  }
}
