// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.workHeroStyle {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://assets.unberry.com/media/images/hero-grid.svg");
    background-repeat: no-repeat;
    content: "";
    background-size: 100%;

    @include tablet {
      background-size: 100%;
      background: url("https://assets.unberry.com/media/images/hero-grid-mobile.svg");
    }

    @include mobile {
      background-size: 100%;
      background: url("https://assets.unberry.com/media/images/hero-grid-mobile.svg");
      background-repeat: no-repeat;
    }
  }

  .containerStyle {
    position: relative;
  }

  @include tablet {
    padding-bottom: 0;
  }

  @include mobile {
    padding-bottom: 0;
  }

  .btnSection {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .titleDesktop {
    text-align: center;
    margin: 0 auto 13px;
    color: $black;
    line-height: 80px;

    @include desktop-lg {
      max-width: 60%;
    }

    @include mobile {
      font-size: 40px;
      line-height: 45px;
    }

    @include iphone5 {
      font-size: 35px;
    }
  }

  .descriptionText {
    margin: 0 auto;
    text-align: center;
    max-width: 60%;

    @include tablet {
      max-width: 60%;
      font-size: 20px;
      line-height: 26px;
    }

    @include mobile {
      max-width: 100%;
      font-size: 18px;
      line-height: 30px;
    }
  }

  .contentSection {
    padding: 95px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    br {
      @include mobile {
        display: none;
      }
    }

    @include tablet {
      padding: 85px 0;
    }

    @include mobile {
      padding: 25px 20px 50px;
    }
  }
}