// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.itServiceHeroStyle {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://assets.unberry.com/media/images/hero-grid.svg");
    background-repeat: no-repeat;
    content: "";
    background-size: 100%;

    @include tablet {
      background-size: 100%;
      background: url("https://assets.unberry.com/media/images/hero-grid-mobile.svg");
    }

    @include mobile {
      background-size: 100%;
      background: url("https://assets.unberry.com/media/images/hero-grid-mobile.svg");
      background-repeat: no-repeat;
    }
  }

  .containerStyle {
    position: relative;
  }

  @include tablet {
    padding-bottom: 0;
  }

  @include mobile {
    padding-bottom: 0;
  }

  .btnSection {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .titleDesktop {
    text-align: center;
    margin: 0 auto 13px;
    color: $black;
    line-height: 80px;

    @include desktop-lg {
      max-width: 60%;
    }

    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }

    span {
      border-radius: 50px;
      padding: 0 38px;
      height: 79px;
      display: inline-block;
      line-height: 70px;
      font-size: 60px;
      position: relative;
      top: -5px;

      &.color1 {
        background-color: #e4ddef;
        color: #3d2f52;
      }
      &.color2 {
        background-color: #daeeee;
        color: #184443;
      }
      &.color3 {
        background-color: #fbefe6;
        color: #442811;
      }
    }
  }

  .titleMobile {
    text-align: center;
    margin: 0 auto 13px;
    max-width: 80%;
    color: $black;
    line-height: 80px;
    display: none;

    @include tablet {
      max-width: 100%;
      line-height: 70px;
      display: block;
    }

    @include mobile {
      max-width: 100%;
      line-height: 60px;
      display: block;
    }

    .mobileStyle {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 10px;
      margin: 10px 0;
    }

    span {
      border-radius: 50px;
      padding: 0 20px;
      height: 79px;
      display: inline-block;
      line-height: 70px;
      font-size: 60px;

      @include tablet {
        line-height: 55px;
        font-size: 39px;
        height: 60px;
      }

      @include mobile {
        line-height: 55px;
        font-size: 39px;
        height: 60px;
      }

      &.color1 {
        background-color: #e4ddef;
        color: #3d2f52;
      }
      &.color2 {
        background-color: #daeeee;
        color: #184443;
      }
      &.color3 {
        background-color: #fbefe6;
        color: #442811;
      }
    }
  }

  .descriptionText {
    margin: 0 auto;
    text-align: center;
    max-width: 70%;

    @include tablet {
      max-width: 60%;
      font-size: 20px;
      line-height: 26px;
    }

    @include mobile {
      max-width: 95%;
      font-size: 16px;
      line-height: 26px;
    }
  }

  .contentSection {
    padding: 95px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      padding: 85px 0;
    }

    @include mobile {
      padding: 85px 0;
    }
  }

  .titleMedium {
    font-weight: 400;
    font-size: 57.83px;
    line-height: 62px;
    text-align: center;
    letter-spacing: -2px;
    max-width: 80%;
    margin: 0 auto 70px;

    @include mobile {
      max-width: 90%;
      font-weight: 400;
      font-size: 31.25px;
      line-height: 35px;
      letter-spacing: -1px;
      margin: 0 auto 60px;
    }
  }

  .workplaceSection {
    background: url("/assets/images/it-service-hero.svg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 89%;
    background-size: contain;
    margin: 0 auto;
    min-height: 478px;

    @include tablet {
      background: none;
      min-height: auto;
      padding-bottom: 53px;
      max-width: 90%;
    }

    @include mobile {
      background: none;
      min-height: auto;
      padding-bottom: 53px;
      max-width: 95%;
    }

    @include iphone5 {
      scale: 0.95;
    }
  }

  .headingMobile {
    display: none;

    @include tablet {
      display: block;
    }

    @include mobile {
      display: block;
    }
  }

  .headingDesktop {
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin-top: -150px;
    @include tablet {
      margin-top: 0px;
    }

    @include mobile {
      margin-top: 0px;
    }
  }

  .headingDesktop {
    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  // title3
  .title3 {
    font-size: 48.83px;
    line-height: 54px;
    letter-spacing: -1px;
    max-width: 471px;
    text-align: center;
    margin: 0 auto;
    color: $black;

    @include tablet {
      font-size: 35px;
      line-height: 40px;
      max-width: 70%;
    }

    @include mobile {
      font-size: 25px;
      line-height: 30px;
      max-width: 271px;
    }
  }

  .title4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.28484px;
    margin-bottom: 10px;

    @include tablet {
      font-size: 24px;
      line-height: 30px;
    }

    @include mobile {
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;
      letter-spacing: -0.770906px;
    }
  }

  .jsonDes {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: $black;
    opacity: 0.6;

    @include mobile {
      font-size: 16px;
      line-height: 21px;
    }
  }

  .jsonItemBox {
    width: 180px;
    height: 100px;
    position: relative;
    overflow: hidden;

    @include mobile {
      width: 140px;
      height: 80px;
    }

    @include desktop {
      margin-bottom: 30px;
    }

    .jsonItem {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .gridSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    max-width: 1180px;
    margin: 0 auto;

    @include mobile {
      display: flex;
      flex-direction: column;
    }

    .imgBoxStyle {
      display: flex;
      flex-direction: column;
      gap: 20px 0;
      max-width: 70%;
      margin: 0 auto;

      @include mobile {
        background: #f4f4f4;
        border-radius: 20px;
        max-width: 100%;
        padding: 20px;
      }

      &:first-child {
        margin-top: 140px;

        @include mobile {
          margin-top: 0;
        }

        .jsonItemBox {
          scale: 1.4;
          margin-left: -40px;
        }
      }
      &:nth-child(2) {
        margin-top: 33px;

        @include mobile {
          margin-top: 20px;
        }

        .jsonItemBox {
          margin-left: -30px;
        }
      }
      &:nth-child(3) {
        margin-top: 165px;

        @include mobile {
          margin-top: 20px;
        }

        .jsonItemBox {
          margin-left: -50px;
        }
      }
    }
  }

  .boxSet {
    display: flex;
    position: relative;
  }

  .mobileDivider {
    background: url("/assets/shape-m.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 100px;
    left: 0;
    top: 0;
    background-position: center;
    margin-top: 30px;
    position: relative;
    display: flex;
  }

  .mobileDivider2 {
    top: 50px;
  }
}

// We Urg Section
.weUrgSection {
  height: 481px;
  background: #fbefe6;
  border-radius: 40px;
  margin-bottom: 100px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;

  @include mobile {
    height: auto;
    flex-direction: column;
    padding: 0 0px;
    border-radius: 20px;
  }

  .urgTitle {
    font-weight: 400;
    font-size: 61.04px;
    line-height: 59px;
    letter-spacing: -3px;
    min-width: 330px;

    @include mobile {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      margin: 30px 0;
      text-align: center;
      letter-spacing: -1px;
      padding: 0 40px;

      br {
        display: none;
      }
    }
  }

  .urgGridStyle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 60px 0;
    margin-left: 50px;

    @include mobile {
      display: flex;
      margin-left: 0px;
      gap: 60px 40px;
      overflow-x: scroll;
      position: relative;
      @include scrollHide;
      padding-left: 20px;
    }
  }

  .title {
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;

    @include mobile {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .desc {
    font-size: 20px;
    line-height: 26px;
    color: $black;
    opacity: 0.6;

    @include mobile {
      font-size: 16px;
      line-height: 21px;
    }
  }

  .urgGridItem {
    max-width: 90%;
    display: flex;
    align-items: flex-start;
    gap: 0 40px;

    @include mobile {
      min-width: 60%;
      flex-direction: column;
    }
  }

  .imgBox {
    width: 80px;
    height: 80px;
    position: relative;

    @include mobile {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }
  }
}
