// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.heroSectionStyle {
  padding-bottom: 150px;
  position: relative;

  .btnSection {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .title1 {
    text-align: center;
    margin: 0 auto 13px;
    max-width: 70%;
    color: $black;
  }

  .descriptionText {
    max-width: 48%;
    margin: 0 auto;
  }

  .contentSection {
    padding: 95px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .workplaceSection {
    background: url("/assets/images/hero-section.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 518px;
  }

  .headingBottom {
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 1;
    margin-top: -150px;
  }

  // title3
  .title3 {
    font-size: 48.83px;
    line-height: 54px;
    letter-spacing: -1px;
    max-width: 471px;
    text-align: center;
    margin: 0 auto;
    color: $black;
  }

  .imgBoxStyle {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px 0;

    &:first-child {
      margin-top: 280px;
      margin-left: 50px;
    }
    &:nth-child(2) {
      margin-top: 50px;
      margin-left: -10px;
    }
    &:nth-child(3) {
      margin-top: 50px;
      margin-left: 50px;
    }
    &:nth-child(4) {
      margin-top: 280px;
      margin-right: 50px;
    }
  }

  .title4 {
    font-weight: 500;
    font-size: 31.25px;
    line-height: 41px;
    letter-spacing: -1.28484px;
    text-align: center;
  }

  .gridSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
