// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.candidatesSpecificRoleStyle {
  position: relative;
  margin-bottom: 150px;

  @include mobile {
    margin-bottom: 100px;
  }

  .containerStyle {
    position: relative;
    padding: 0 $p-padding-inline 50px;

    @include mobile {
      padding: 0px 20px 0;
    }
  }

  @include tablet {
    padding-bottom: 0;
  }

  @include mobile {
    padding-bottom: 0;
  }

  .titleDesktop {
    color: $black;
    line-height: 80px;
    font-weight: 400;

    @include mobile {
      font-size: 30px;
      line-height: 40px;
      font-weight: 500;
      text-align: center;
    }
  }

  .infoStyle {
    position: relative;
    display: flex;
    gap: 25px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-left: 80px;
    @include scrollHide();

    @include mobile {
      padding-left: 20px;
      margin-top: 50px;
    }

    .imgBox {
      width: 100%;
      height: 100vh;
      left: 0;
      right: 0;
    }

    .cardBox {
      display: flex;
      flex-direction: column;
      gap: 32px 0;
      padding: 32px;
      border-radius: 20px;
      z-index: 1;
      min-width: 357px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      background:#F4F4F4;
      position: relative;
      overflow: hidden;

      @include mobile {
        min-width: 95%;
      }

      &:last-child {
        margin-right: 80px;

        @include mobile {
          margin-right: 20px;
        }
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: url("https://assets.unberry.com/media/images/box-grid.svg");
        background-size: cover;
        scale: 1.7;
        opacity: 0.08;
      }

      .titleSM {
        font-size: 28px;
        color: $black;
        margin: 0;

        @include mobile {
          font-size: 22px;
          font-weight: 600;
        }
      }
  
      .description {
        font-size: 18px;
        color: $black;
        margin: 0;

        @include mobile {
          font-size: 16px;
        }
      }

      .designation {
        font-size: 16px;
        line-height: 27px;
        color: #3D2F52;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include mobile {
          margin-bottom: 10px;
        }
      }
  
      a {
        color: #FF7A1A;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
      }

      &:hover {
        background-color: #AC95CF;

        a, .description, .titleSM, .designation {
          color: $white;
        }

        &::before {
          filter: contrast(0) brightness(100);
          opacity: 0.1;
        }
      }
    }
  }
}
