// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$white: #ffffff;
$gray-f9: #f9f9f9;
$gray-f5: #f5f5f5;

// Extra Color
$gray-dark: #c9cdd8;
$text-dark: #25282b;
$gray-light: #efefef;
$label-text: #6f7588;
$arrow-color: #a8b1ce;
$textColor: #718096;
$textDarkColor: #425466;
$textColor-dark: #1e265e;
$borderColor: #edf2f7;
$shadowColor: #3232470d;
$border-color: #eee3d6;
$border-color-2: #dcc797;

// Theme Based
$colorCream1: #fffcf6;
$colorCream: #f7f1e4;
$theme-light-color: #ff864e;
$theme-yellow: #ffc640;
$theme-light-yellow: #ffe19a;
$theme-pink: #ff85b3;
$theme-light-pink: #fedad1;
$theme-primary: #cf5f2b;
$theme-primary-dark: #2e1500;
$theme-secondary: #1c1c1c;

// Color Shades
$theme-success: #4aae8c;
$theme-dark: #25282b;
$theme-info: #9c6dff;
$theme-warning: #f59e0b;
$theme-green: #36942f;
$theme-warning-light: #fef6e0;
$theme-danger: #cf3701;
$theme-cyan: #35d2cc;
$theme-link: #004b8f;
$theme-blue: #50abed;
