// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.betterTalentSectionStyle {
  padding-bottom: 150px;
  background: $black;
  padding: 54px 60px;
  position: relative;

  .title1 {
    color: $white;
    font-size: 57.83px;
    line-height: 62px;
    letter-spacing: -2px;
    font-weight: 400;
    max-width: 90%;

    span {
      color: $theme-secondary-new;
    }
  }

  .imgbox {
    position: relative;
    height: 500px;
    margin: 48px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttonStyle {
    border: none;
    background: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }
  }

  .videoBox {
    height: 669px;
    border-radius: 350px;
    overflow: hidden;
    margin-top: 50px;
  }

  .videoSection {
    width: 100%;
  }
}
