// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.betterTalentSectionStyle {
  padding-bottom: 150px;
  background: $black;
  padding: 54px $p-padding-inline;
  position: relative;

  @include mobile {
    padding: 54px 20px 1px;
  }

  .title1 {
    color: $white;
    font-size: 57.83px;
    line-height: 62px;
    letter-spacing: -2px;
    font-weight: 400;
    max-width: 80%;

    @include mobile {
      font-size: 31.25px;
      line-height: 35px;
      max-width: 100%;
    }

    span {
      color: $theme-secondary-new;
    }
  }

  .imgbox {
    position: relative;
    height: 575px;
    margin: 48px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 350px;
    overflow: hidden;

    img {
      object-fit: cover;
    }

    @include mobile {
      height: 250px;
      border-radius: 20px;

      img {
       object-position: 20%;
      }
    }
  }

  .buttonStyle {
    border: none;
    background: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    width: 250px;
    height: 56px;
    position: relative;

    @include mobile {
      width: 180px;
      height: 40px;
    }

    img {
      object-fit: contain;
    }

    &:hover {
      scale: 1.1;
    }
  }

  .videoSection {
    width: 100%;
  }
}


.videoBox {
  overflow: hidden;
  position: relative;
  width: 98vw;
  height: 94vh;

  @include mobile {
    height: 28vh;
  }

  video {
    width: 100%;
  }
}