// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.communicationHeroStyle {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;

  @include tablet {
    padding-bottom: 0;
  }

  @include mobile {
    padding-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://assets.unberry.com/media/images/hero-grid.svg");
    background-repeat: no-repeat;
    content: "";
    background-size: 100%;

    @include tablet {
      background-size: 100%;
      background: url("https://assets.unberry.com/media/images/hero-grid-mobile.svg");
    }

    @include mobile {
      background-size: 100%;
      background: url("https://assets.unberry.com/media/images/hero-grid-mobile.svg");
      background-repeat: no-repeat;
    }
  }

  .title {
    text-align: center;
    margin: 0 auto;
    color: $black;
    line-height: 80px;

    @include mobile {
      font-size: 40px;
      line-height: 50px;
    }

    @include desktop-lg {
      max-width: 60%;
    }
  }

  .mediumBadge {
    border-radius: 50px;
    padding: 0 38px;
    height: 79px;
    display: inline-block;
    line-height: 76px;
    font-size: 39px;
    position: relative;
    top: -5px;
    font-weight: 500;

    @include mobile {
      line-height: 30px;
      font-size: 20px;
      height: 49px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.color1 {
      background-color: #e4ddef;
      color: #3d2f52;
    }
    &.color2 {
      background-color: #daeeee;
      color: #184443;
    }
    &.color3 {
      background-color: #fbefe6;
      color: #442811;
    }
  }

  .spanBlock {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin: 30px 0;

    @include mobile {
      display: none;
    }
  }

  .marqueBlock {
    display: none;

    @include mobile {
      display: block;
    }
  }

  .mobileSpanBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    padding: 30px 0;
  }

  .btnSection {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .containerStyle {
    position: relative;
    z-index: 1;
  }

  .descriptionText {
    margin: 0 auto;
    text-align: center;
    max-width: 70%;

    @include desktop-lg {
      max-width: 55%;
    }

    @include tablet {
      max-width: 60%;
      font-size: 20px;
      line-height: 26px;
    }

    @include mobile {
      max-width: 95%;
      font-size: 18px;
      line-height: 26px;
    }
  }

  .contentSection {
    padding: 95px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      padding: 85px 0;
    }

    @include mobile {
      padding: 40px 0;
    }
  }

  // Communication Skills Section here
  .communicationSkills {
    border-radius: 40px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    position: relative;

    &::after {
      position: absolute;
      top: 10vh;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: url("https://assets.unberry.com/media/images/grid-center.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include mobile {
      height: auto;
      flex-direction: column;
      padding: 0 0px;
      border-radius: 20px;
    }

    .titleMedium {
      font-weight: 400;
      font-size: 57.83px;
      line-height: 62px;
      text-align: center;
      letter-spacing: -2px;
      margin: 0 auto 30px;

      @include mobile {
        max-width: 90%;
        font-size: 31.25px;
        line-height: 35px;
        letter-spacing: -1px;
        margin: 0 auto 20px;
      }
    }

    .desc {
      font-size: 20px;
      line-height: 31px;
      color: $black;
      opacity: 0.6;
      max-width: 65%;
      margin: 0 auto;
      text-align: center;

      @include mobile {
        font-size: 17px;
        line-height: 25px;
        max-width: 85%;
      }
    }
  }
  .communicationGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 42px;
    margin-top: 97px;

    @include mobile {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 50px;
      padding: 20px;
    }

    .gridItem {
      background: #f4f4f4;
      padding: 25px;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      position: relative;

      @include mobile {
        border-radius: 20px;
        margin-bottom: 0px;
      }

      &::after {
        position: absolute;
        top: 0;
        left: -43px;
        content: "";
        width: 85px;
        height: 110px;
        background: url("https://assets.unberry.com/media/images/white-shape.png");
        background-repeat: no-repeat;
        background-size: contain;
        right: -98px;

        @include mobile {
          display: none;
        }
      }

      &:nth-child(1) {

        @include desktop {
          top: 56px;
        }

        &::after {
          display: none;
        }
      }

      &:nth-child(2) {
        &::after {
          top: 100px;
        }
      }
      &:nth-child(3) {
        @include desktop {
        top: 56px;
        }

        &::after {
          top: auto;
          bottom: 100px;
        }
      }

      &:nth-child(4) {
        &::after {
          top: 100px;
        }
      }
    }

    .title4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -0.5px;
      color: rgba($black, 0.8);
    }

    .description {
      font-size: 18px;
      line-height: 25px;
      color: rgba($black, 0.5);
    }

    .imgBox {
      position: relative;
      width: 76px;
      height: 76px;
      background: #e4ddef;
      border-radius: 100%;
      padding: 10px;
      margin-bottom: 103px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        margin-bottom: 50px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
