// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.blog-detail-section {
  background: white;
  min-height: 100vh;
  overflow-x: hidden;

  .title2 {
    font-size: 55px;
    line-height: 1.2;
    letter-spacing: -2px;
    text-align: center;

    @include mobile {
      font-size: 45px;
    }
  }

  .header-style {
    min-height: 300px;
    padding-bottom: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: #faf6f2 url('../../assets/bg/bg4.png');
    background-size: cover;

    @include mobile {
      height: auto;
    }
  }

  .info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 50px;

    @include mobile {
      padding: 20px
    }
  }

  .blog-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    padding: 130px 0 110px;
    background-color: #FBEFE6;

    @include mobile {
      padding: 130px 20px 120px;
      flex-direction: column;
      width: auto;
    }

    .blog-header {
      display: flex;
      align-items: center;
      max-width: 70%;

      @include mobile {
        max-width: 100%;
      }
    }

    .description {
      padding: 80px 0px;
      font-size: 16px;
      margin: 0;
  
      @include mobile {
        font-size: 20px;
      }
    }
  }

  .btn-back {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: $theme-secondary;
    text-transform: uppercase;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 30px;
    padding: 10px 0;
    transition: all 0.5s ease-in-out;

    span {
      margin-left: 5px;
      display: flex;
    }
  }

    // hero-banner-img
    .hero-banner-img {
      height: 646px;
      width: 100%;
      overflow: hidden;
      position: relative;
      max-width: 90%;
      margin: -100px auto 0;
      border-radius: 10px;

      @include mobile {
        width: 90%;
        height: 250px;
        margin: -120px auto 0;
      }
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
    }

    .header-primary {
      background-color: #fbefe6;
  
      @include mobile {
        background-color: $white;
      }
    }
}

// markdown-style
.markdown-style {
  padding: 50px 0px;
  margin: 0 auto;

  @include mobile {
    width: 100vw;
    padding: 50px 20px 10px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
    text-align: justify;
  }
}

.content-blog-layout {
  display: flex;
  gap: 0 74px;
  max-width: 1200px;
  margin: 0 auto;

  @include mobile {
    flex-direction: column;
  }

  .sidebar {
    min-width: 350px;
  }
}

