// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

.blog-detail-section {
  background: white;
  min-height: 100vh;

  .title2 {
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: -1px;
    text-align: center;

    @include mobile {
      font-size: 30px;
    }
  }

  .header-style {
    min-height: 300px;
    padding-bottom: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: #faf6f2 url('../../assets/bg/bg4.png');
    background-size: cover;

    @include mobile {
      height: auto;
    }
  }

  .info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 50px;

    @include mobile {
      padding: 20px
    }
  }

  // .logo-white {
  //   filter: contrast(0) brightness(100);
  // }

  .blog-layout {
    max-width: $blogContainerWidth;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    @include mobile {
      padding: 0 20px;
      width: auto;
    }
  }

  .description {
    padding: 80px 0px;
    font-size: 16px;
    margin: 0;

    @include mobile {
      font-size: 20px;
    }
  }

  .btn-back {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: $theme-secondary;
    text-transform: uppercase;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 30px;
    padding: 10px 0;
    transition: all 0.5s ease-in-out;

    span {
      margin-left: 5px;
      display: flex;
    }
  }

    // hero-banner-img
    .hero-banner-img {
      height: 350px;
      width: 100%;
      overflow: hidden;
      position: relative;
      max-width: 900px;
      margin: -100px auto 0;
      border-radius: 10px;

      @include mobile {
        width: 90%;
        height: 250px;
        margin: -120px auto 0;
      }
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
    }
}

// markdown-style
.markdown-layout {
  display: flex;
}

.markdown-style {
  padding: 50px 0px;
  max-width: $blogContainerWidth;
  margin: 0 auto;

  @include mobile {
    width: 100vw;
    padding: 50px 20px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }
}