// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// auto-section

.blog-page-style {
  overflow-x: scroll;

  .w-100 {
    width: 100%;
  }

  .logo-white {
    filter: contrast(0) brightness(100);
  }

  // Section common Style
  .section-style {
    display: flex;
    overflow: hidden;

    @include mobile {
      min-height: auto;
    }
  }

  .content-section {
    width: 100%;
    position: relative;
  }

  .text-gradient {
    background: -webkit-linear-gradient(
      top,
      rgba($theme-primary-dark, 1) 40px,
      rgba(#c95632, 1)
    );
    @include clip-text;
  }
  .boxes-style {
    border-top: 1px solid $border-color;
  }

  // Section Why Unberry
  .blog-unberry {
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    min-height: auto;
    flex-direction: column;
    padding: 0 80px 150px;

    @include mobile {
      display: flex;
      padding: 0 20px 100px;
    }

    .menu-section {
      min-height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .blog-thumb-image {
      width: 100%;
      height: 290px;
      position: relative;
      overflow: hidden;
      margin-right: 28px;
      border-radius: 40px;

      @include mobile {
        height: 200px;
      }

      .img-style {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }

    .blog-content-item {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 5px;
        letter-spacing: -1px;
        font-weight: 600;
        margin-top: 20px;

        @include mobile {
          font-size: 20px;
          line-height: 28px;
          max-width: 100%;
          margin-top: 10px;
          font-weight: 600;
          letter-spacing: normal;
        }
      }

      .description {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -1px;
        max-width: 90%;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-top: 15px;
        color: rgba($black, 0.6);

        @include mobile {
          font-size: 18px;
          max-width: 100%;
          letter-spacing: normal;
        }
      }

      a {
        color: $theme-primary-new;
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;
        display: block;
        margin-top: 20px;
        text-transform: uppercase;
      }
    }

    .border-section {
      &:nth-child(1) {
        grid-column: 1 / 4;
        display: flex;

        @include mobile {
          flex-direction: column;
        }

        .blog-thumb-image {
          min-width: 695px;
          height: 395px;

          @include mobile {
            min-width: 100%;
            height: 295px;
          }
        }
      }

      &:nth-child(2) {
        .description {
          display: none;
        }

        .blog-thumb-image {
          height: 223px;
        }
      }

      &:nth-child(3) {
        grid-column: 2 / 4;
        grid-row: 2 / 4;

        .blog-thumb-image {
          height: 555px;

          @include mobile {
            min-width: 100%;
            height: 295px;
          }
        }
      }

      &:nth-child(4) {
        grid-row: 3 / 4;

        .description {
          display: none;
        }
        .blog-thumb-image {
          height: 223px;
        }
      }

      &:nth-child(5) {
        grid-column: 1 / 3;
        grid-row: 4 / 6;

        .blog-thumb-image {
          height: 555px;

          @include mobile {
            min-width: 100%;
            height: 295px;
          }
        }
      }

      &:nth-child(6) {
        grid-column: 3 / 3;
        grid-row: 4 / 5;

        .description {
          display: none;
        }
        .blog-thumb-image {
          height: 223px;
        }
      }

      &:nth-child(7) {
        grid-column: 3 / 4;
        grid-row: 5 / 5;

        .description {
          display: none;
        }
        .blog-thumb-image {
          height: 223px;
        }
      }

      &:nth-child(8) {
        display: flex;
        grid-column: 1 / 4;
        grid-row: 6 / 6;

        @include mobile {
          flex-direction: column;
        }

        .blog-thumb-image {
          min-width: 695px;
          height: 395px;

          @include mobile {
            min-width: 100%;
            height: 295px;
          }
        }
      }

      &:nth-child(9) {
        grid-column: 1 / 2;
        grid-row: 7 / 8;

        @include mobile {
          flex-direction: column;
        }

        .description {
          display: none;
        }

        .blog-thumb-image {
          min-width: 33%;
          height: 395px;

          @include mobile {
            min-width: 100%;
            height: 295px;
          }
        }
      }

      &:nth-child(10) {
        grid-column: 2 / 3;
        grid-row: 7 / 8;

        @include mobile {
          flex-direction: column;
        }

        .description {
          display: none;
        }

        .blog-thumb-image {
          min-width: 33%;
          height: 395px;

          @include mobile {
            min-width: 100%;
            height: 295px;
          }
        }
      }

      &:nth-child(11) {
        grid-column: 3 / 4;
        grid-row: 7 / 8;

        @include mobile {
          flex-direction: column;
        }

        .description {
          display: none;
        }

        .blog-thumb-image {
          min-width: 33%;
          height: 395px;

          @include mobile {
            min-width: 100%;
            height: 295px;
          }
        }
      }


      &:nth-child(12) {
        display: flex;
        grid-column: 1 / 4;
        grid-row: 8 / 8;

        @include mobile {
          flex-direction: column;
        }

        .blog-thumb-image {
          min-width: 695px;
          height: 395px;

          @include mobile {
            min-width: 100%;
            height: 295px;
          }
        }
      }

      &:nth-child(13) {
        grid-column: 1 / 2;
        grid-row: 9 / 9;

        @include mobile {
          flex-direction: column;
        }

        .description {
          display: none;
        }

        .blog-thumb-image {
          min-width: 33%;
          height: 395px;

          @include mobile {
            min-width: 100%;
            height: 295px;
          }
        }
      }


      &:nth-child(14) {
        grid-column: 2 / 3;
        grid-row: 9 / 9;

        @include mobile {
          flex-direction: column;
        }

        .description {
          display: none;
        }

        .blog-thumb-image {
          min-width: 33%;
          height: 395px;

          @include mobile {
            min-width: 100%;
            height: 295px;
          }
        }
      }

      &:nth-child(15) {
        grid-column: 3 / 4;
        grid-row: 9 / 9;

        @include mobile {
          flex-direction: column;
        }

        .description {
          display: none;
        }

        .blog-thumb-image {
          min-width: 33%;
          height: 395px;

          @include mobile {
            min-width: 100%;
            height: 295px;
          }
        }
      }
    }
  }

  .blog-list-page {
    padding: 150px 0 50px;
    text-align: center;
    background-color: $white;

    .description {
      max-width: 50%;
      margin: 0 auto;
    }

    @include mobile {
      padding: 150px 20px 50px;

      .description {
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }
}
