// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// auto-section

.home-section-style {
  @include mobile {
    overflow-x: scroll;
  }

  .w-100 {
    width: 100%;
  }

  .logo-white {
    filter: contrast(0) brightness(100);
  }

  // Section common Style
  .section-style {
    min-height: 100vh;
    display: flex;

    @include mobile {
      overflow: hidden;
      min-height: auto;
    }
  }

  .content-section {
    position: relative;
  }

  .text-gradient {
    background: -webkit-linear-gradient(
      top,
      rgba($theme-primary-dark, 1) 40px,
      rgba(#c95632, 1)
    );
    @include clip-text;
  }

  // Menu Commen Style
  .menu-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow: hidden;
    padding: 60px 0 100px;
    min-width: 50px;
    max-width: 50px;
    align-items: center;
    border-right: 1px solid #dcc797;

    @include mobile {
      min-height: auto;
      min-width: 30px;
      max-width: 30px;
    }

    .link-btn-demo {
      color: white;
      padding: 0px 18px 0;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $theme-secondary;
      border-radius: 50px;
    }

    a {
      transform: rotate(270deg);
      white-space: nowrap;
      color: #793700;
      font-size: 16px;
    }
  }

  .boxes-style {
    @include mobile {
      padding: 64px 20px 20px;
    }
  }

  // Section Bury
  .section-bury {
    background: $colorCream;
    overflow: hidden;
    position: relative;

    @include mobile {
      background: #f8ecde;
    }

    &::before {
      content: "";
      position: absolute;
      width: 1062px;
      height: 482px;
      left: -503px;
      top: 791px;
      background: linear-gradient(262.63deg, #ffd49f 8.02%, #ff82b4 127.42%);
      filter: blur(240px);

      @include mobile {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 482px;
      height: 387px;
      right: 0;
      background: linear-gradient(
        262.63deg,
        rgba(255, 212, 159, 0.5) 8.02%,
        rgba(255, 130, 180, 0.5) 127.42%
      );
      filter: blur(186px);
      transform: rotate(-180deg);
      top: -170px;

      @include mobile {
        display: none;
      }
    }

    .menu-section {
      @include mobile {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .heading-section {
      width: 100%;
      @include mobile {
        padding-top: 20px;
      }

      .border-style {
        top: -25px;

        @include mobile {
          top: -12px;
          background-color: #dcc797;
        }
      }
    }

    .heading-section2 {
      margin-top: 10px;
    }

    .title1 {
      font-weight: 300;
      font-size: 96px;
      line-height: 1.2;
      letter-spacing: -9px;
      margin: 0;
      position: relative;
      display: flex;
      align-items: flex-start;

      @include mobile {
        font-size: 55px;
        letter-spacing: -5px;
        flex-direction: column;
        width: 100%;

        span {
          position: relative;
          z-index: 1;
          padding: 0 15px;
          letter-spacing: -5px;
          background: linear-gradient(
            180deg,
            #2e1500 0%,
            #1b0c07 34.63%,
            #7b351f 83.87%,
            #c95632 100%
          );
          @include clip-text;
        }
      }

      @include iphone5 {
        font-size: 50px;
      }

      &.bold {
        font-weight: 500;
        position: relative;
      }
      .bold {
        font-weight: 600;
        position: relative;
      }
    }

    .text-gradient {
      background: linear-gradient(
        180deg,
        #2e1500 0%,
        #7b351f 64.63%,
        #7b351f 83.87%,
        #c95632 100%
      );
      @include clip-text;
      display: block;
    }

    .button-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 48px;
      position: relative;
      z-index: 1;

      .btn-demo {
        margin-bottom: 30px;
        display: flex;
        width: 179.65px;
        height: 58px;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background: $theme-primary-dark;
        color: $colorCream;
        font-size: 18px;
        top: 40px;
      }
    }

    .img-hero {
      width: 600px;
      height: 600px;
      position: absolute;
      right: 0;
      bottom: -200px;

      @include mobile {
        width: 95vw;
        height: 500px;
        position: relative;
        right: -30px;
        bottom: 0px;
        margin-bottom: -220px;
        margin-top: 10px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right;
      }
    }

    .content-section {
      .heading-section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        z-index: 1;

        .title1 {
          z-index: 1;
          padding: 0 30px;
          display: block;

          @include mobile {
            padding: 0 0px;
          }
        }
      }

      .hide-xs {
        @include mobile {
          display: none;
        }
      }

      .hide-lg {
        display: none;

        @include mobile {
          display: block;
        }
      }
    }

    .banner-lottie {
      position: absolute;
      bottom: 0px;
      right: 0;
      width: 60%;

      @include mobile {
        position: relative;
        bottom: 20px;
        width: 100%;
      }
    }

    .illustration-section {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      @include mobile {
        flex-direction: column;
        height: auto;
      }

      .description {
        font-size: 36px;
        width: 50%;
        padding-left: 50px;
        margin-bottom: 80px;
        letter-spacing: -0.03em;
        line-height: 50px;

        @include mobile {
          margin-top: 17px;
          margin-bottom: 0;
          padding: 0 15px;
          width: auto;
          font-size: 20px;
          line-height: 29px;
        }
      }

      .img-style {
        width: 55%;
        margin-right: 50px;
      }
    }
  }

  // Automation Section
  .automation-section {
    background-color: #fffcf6;
    min-height: auto;
    border-top: 1px solid $border-color-2;
    border-bottom: 1px solid $border-color-2;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      bottom: -70vh;
      background: linear-gradient(
        262.63deg,
        rgba(255, 212, 159, 0.23) 8.02%,
        rgba(255, 130, 180, 0.23) 127.42%
      );
      filter: blur(240px);
    }

    .menu-section {
      min-height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header-section {
      padding: 75px 30px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @include mobile {
        padding: 64px 20px 21px;
        min-height: auto;
      }
    }

    .icon-box-sec {
      padding: 20px 40px;

      @include mobile {
        padding: 20px;
        border-right: 1px solid $border-color-2;
      }

      .jsonIcon {
        width: 80px;
        height: 80px;
        display: none;

        @include mobile {
          width: 70px;
          height: 70px;
          display: block;
          margin-left: 0px;
          margin-top: 50px;
        }
      }
    }

    .title-lg {
      font-weight: 600;
      font-size: 58px;
      line-height: 68px;
      letter-spacing: -3px;
      margin-bottom: 0;
      background: linear-gradient(180deg, #2e1500 37.36%, #c95632 100%);
      @include clip-text();

      @include mobile {
        font-size: 34px;
        line-height: 42px;
        line-height: 1.2;
        letter-spacing: 0px;
      }
    }

    .title4 {
      font-weight: 600;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: -1.8px;
      text-transform: capitalize;
      color: #313131;
      opacity: 0.5;
      transition: all 0.5s ease-in-out;

      @include mobile {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        opacity: 1;
        letter-spacing: -0.02em;
      }

      @include iphone5 {
        font-size: 18px;
      }
    }

    .description {
      font-size: 18px;
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;
      letter-spacing: -0.01em;
      color: #2e1500;
      opacity: 0.8;
      margin-bottom: 0;
      transition: all 0.5s ease-in-out;

      @include mobile {
        font-size: 14px;
        letter-spacing: -0.5px;
        line-height: 1.4;
      }
    }

    .asset-section {
      border-left: 1px solid $border-color;
      height: 100%;

      .img-box {
        position: relative;
        height: 100%;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          object-fit: contain;
          object-position: center;
        }

        .img-fit-no {
          scale: 0.9;
          right: -2.5vw !important;
          object-position: right;

          @include mobile {
            scale: 1;
          }
        }
      }
    }

    .title-faded {
      font-weight: 600;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: -1.8px;
      text-transform: capitalize;
      color: #313131;
      margin-top: 51px;
      opacity: 0.6;
    }

    .btn-demo {
      margin-top: 55px;
      margin-bottom: 29px;
    }

    .border-section {
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }

    .button-section {
      padding: 0 40px;
    }

    .icon-list-section {
      list-style: none;
      padding: 0;
      margin-top: 30px;

      .title4 {
        margin-bottom: 8px;
      }

      .description {
        translate: -10px 0px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        position: absolute;
      }

      .active-style {
        .title4 {
          opacity: 1;
        }
        .description {
          opacity: 1;
          translate: 0px 0px;
          position: relative;
        }

        .jsonIcon {
          display: block;
        }
      }
    }

    .horizontal-card {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      @include scrollHide();

      .icon-box-sec {
        min-width: 80%;
      }
    }

    .mobile-layout {
      .boxes-style {
        display: flex;
      }

      .header-section {
        border-bottom: 1px solid $border-color;
      }

      .img-box {
        min-width: 238px;
        min-height: 165px;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .imageSection {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  // Section The Products
  .assessment-section {
    background: $theme-secondary;

    .menu-section {
      display: flex;
      align-items: center;
      justify-content: center;
      border-color: rgba(255, 255, 255, 0.3);

      a {
        color: $white;
      }
    }

    .content-section {
      padding: 68px 0;

      @include mobile {
        padding: 0px 0 0px;
      }
    }

    .gameJson {
      width: 75%;

      @include mobile {
        margin-left: 30px;
        margin-right: auto;
      }
    }

    .game-json-sec {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
    }

    .img-center {
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        padding: 30px;
      }

      .product-img1 {
        width: 300px;

        @include mobile {
          position: relative;
          left: 0px;
          width: 100%;
        }
      }
    }

    .sticky-style {
      @include mobile {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .sec-first {
      position: relative;
      width: 100%;
      height: 100%;

      .heading-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;

        @include mobile {
          padding: 0 20px;
        }

        .description {
          color: $white;
          margin: 0;
          font-size: 22px;
          max-width: 90%;

          @include mobile {
            font-size: 20px;
            max-width: 100%;
          }
        }
      }

      .title1 {
        font-size: 48px;
        font-weight: 500;
        line-height: 65px;
        color: $white;
        margin-top: 0;
        max-width: 80%;
        letter-spacing: -1px;

        @include mobile {
          font-size: 34px;
          line-height: 37px;
          max-width: 90%;
          font-weight: 500;
          padding-bottom: 20px;
        }
      }
    }

    .button-section {
      display: flex;
      align-items: flex-start;
      margin-top: 48px;

      @include mobile {
        margin: 32px 0 40px;
      }

      .btn-demo {
        background: $white;
        color: $black;
        text-transform: uppercase;
        width: 180px;
        height: 52px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          font-weight: 500;
          height: 36px;
          width: 150px;
        }
      }
    }

    .sticky-style {
      position: sticky;
      top: 50px;

      @include mobile {
        position: relative;
        top: 0px;
      }
    }

    .video-image {
      position: relative;
      width: 44vw;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 80px;
      padding: 0 50px;

      @include mobile {
        width: 100vw;
        height: 230px;
        padding: 0 20px;
        margin-top: -20px;
        transform: scale(1.1);
        margin-left: 40px;
        margin-bottom: 50px;

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 1;
          background: linear-gradient(
            170.48deg,
            #1c1c1c 17.61%,
            rgba(28, 28, 28, 0.849282) 68.62%,
            rgba(28, 28, 28, 0.32) 82.66%
          );
        }
      }

      video {
        width: 82%;
        height: 82%;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 1;
        top: 12px;
        margin: 0 auto;

        @include desktop-lg {
          width: 98%;
          height: 98%;
          top: 9px;
        }

        @include mobile {
          width: 272px;
          right: 0;
          margin: 0 auto;
          display: none;
        }
      }

      .laptop-frame {
        height: 400px;
        width: 100%;
        position: relative;
        overflow: hidden;

        @include desktop-lg {
          height: 450px;
        }

        @include mobile {
          height: auto;
        }

        .img-full {
          position: absolute;
          height: 500px;
          width: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: 0 12px;
          transform: scale(1.3);

          @include mobile {
            left: 0;
            bottom: -14px;
            transform: scale(1);
          }
        }
      }
    }

    .card-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 47px;
      padding-right: 70px;
      margin-bottom: 128px;

      @include desktop-lg {
        margin-bottom: 68px;
      }

      @include mobile {
        gap: 16px;
        padding: 0 20px;
        margin-bottom: 38px;
      }

      .content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 2;
        height: 100%;
      }

      .hover-action {
        margin-top: 50px;
        // transform: translate(0px, 60px);
        // transition: all 0.5s ease-in-out;

        // @include mobile {
        //   transform: translate(0px, 0px);
        // }

        @include mobile {
          margin-top: 0px;
        }
      }

      .explore {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #fffbf1;
        margin-top: 26px;

        @include mobile {
          font-size: 11.2px;
          line-height: 15px;
          margin-top: 23px;
        }
      }

      .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #fffbf1;
        max-width: 80%;

        @include desktop-lg {
          max-width: 60%;
        }

        @include mobile {
          font-size: 15px;
          line-height: 21px;
          margin-top: 8px;
        }
      }

      .description {
        font-size: 14px;
        line-height: 20px;
        color: #fffbf1;
        opacity: 0.8;
        transition: all 0.5s ease-in-out;

        @include desktop-lg {
          max-width: 70%;
        }

        @include mobile {
          font-size: 13px;
          line-height: 20px;
          margin-top: 40px;
        }
      }

      .icon-sec {
        width: 92px;
        height: 92px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.4;
        z-index: 1;

        @include mobile {
          width: 48px;
          height: 48px;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .p-card {
        padding: 30px 20px;
        background: rgba(50, 49, 49, 0.5);
        position: relative;
        overflow: hidden;
        cursor: pointer;
        height: auto;

        @include mobile {
          padding: 10px 10px 20px;
          height: auto;
        }

        &::before {
          position: absolute;
          top: -18vw;
          right: -10vw;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, #776152 0%, #d87e96 100%);
          filter: blur(67px);
          content: "";
          opacity: 0;
          transition: all 0.5s ease-in-out;

          @include mobile {
            width: 129.36px;
            height: 129.36px;
            left: 53.2px;
            top: -64.4px;
            background: linear-gradient(180deg, #776152 0%, #d87e96 100%);
            filter: blur(37.52px);
          }
        }

        // &:hover {
        //   .hover-action {
        //     transform: translate(0px, 0px);
        //   }

        //   &::before {
        //     opacity: 1;
        //   }

        //   .icon-sec {
        //     opacity: 1;
        //   }
        // }
      }

      .p-card:nth-child(odd) {
        position: relative;
        top: 50px;

        @include mobile {
          top: 0px;
        }
      }
    }
  }

  // Section Competency Style
  .competency-section {
    background: #1f1e20;
    min-height: auto;

    .product-img1 {
      width: 300px;
    }

    .content-section {
      border-top: 1px solid rgba($white, 0.3);
    }

    .menu-section {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: auto;
      border-color: rgba(255, 255, 255, 0.3);

      a {
        color: $white;
        @include mobile {
          display: none;
        }
      }
    }

    .heading-section {
      border-right: 1px solid rgba($white, 0.2);
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 50px;

      @include mobile {
        border: none;
      }

      .description {
        color: $white;
        margin: 0;
        font-size: 20px;
        line-height: 34px;
        max-width: 80%;

        @include mobile {
          font-size: 20px;
          line-height: 28px;
          max-width: 90%;
        }
      }

      .title1 {
        font-size: 48px;
        line-height: 65px;
        color: $white;
        margin: 0;
        letter-spacing: -1px;
        max-width: 70%;

        @include mobile {
          font-size: 34px;
          line-height: 39px;
          max-width: 100%;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
    }

    .heading-section {
      height: 100%;

      @include mobile {
        padding: 50px 20px;
      }
    }

    .video-image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 320px;
      padding: 0px;

      @include mobile {
        padding-top: 30px;
        height: auto;
        padding: 20px 0px;
      }

      .jsonSpider {
        position: relative;
        left: 10px;
        transform: scale(1.1);

        @include mobile {
          transform: scale(1);
          left: 0;
        }
      }

      video {
        @include mobile {
          width: 95%;
          margin-right: 0px;
          margin-bottom: 40px;
        }
      }
    }

    .gradient-section {
      position: relative;
      overflow: hidden;

      &::before {
        position: absolute;
        bottom: -20vh;
        left: 0;
        width: 100%;
        height: 30%;
        content: "";
        background: linear-gradient(
          262.59deg,
          rgba(255, 212, 159, 0.96) 8.07%,
          rgba(255, 130, 180, 0.96) 127.39%
        );
        filter: blur(240px);
        transform: rotate(-180deg);

        @include mobile {
          left: auto;
          right: -80px;
          width: 30%;
          height: 65%;
          bottom: 0;
          filter: blur(125px);
          transform: rotate(2deg);
          opacity: 0.7;
        }
      }
    }

    .profile-boxes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      border-top: 1px solid rgba($white, 0.2);
      border-right: 1px solid rgba($white, 0.2);

      @include mobile {
        height: auto;
        border-top: none;
        grid-template-columns: repeat(1, 1fr);
        border-right: none;
      }

      .flex-sec {
        display: flex;

        @include mobile {
          align-items: center;
          position: relative;
          width: 100vw;
        }

        .competency-json {
          height: 98px;
        }
      }

      .tag-section {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 6px;
        margin-top: 15px;
        max-width: 90%;

        @include mobile {
          width: 100%;
          max-width: 87vw;
          flex-wrap: nowrap;
          overflow-x: scroll;
          @include scrollHide();
        }

        .tag-item {
          background: rgba(255, 255, 255, 0.11);
          border-radius: 50px;
          height: 35px;
          padding: 0px 15px;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;

          @include mobile {
            white-space: nowrap;
          }
        }
      }

      .profile-box-style {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 35px 28px;
        border-left: 1px solid rgba($white, 0.2);
        border-bottom: 1px solid rgba($white, 0.2);
        position: relative;
        overflow: hidden;

        @include mobile {
          align-items: flex-start;
          padding: 20px 20px 30px;
          overflow: visible;
          border-left: none;
        }

        .text-sec {
          width: 80%;

          @include mobile {
            width: 70%;
            margin-top: 15px;
          }
        }

        .title4 {
          font-size: 28px;
          letter-spacing: -0.02em;
          color: $white;
          margin-bottom: 0;
          line-height: 45px;
          font-weight: 600;

          @include mobile {
            font-size: 20px;
            margin-top: 0;
            line-height: 1.4;
          }
        }

        .description {
          font-size: 14px;
          line-height: 1.4;
          color: $white;
          max-width: 90%;
          margin-bottom: 0;

          @include mobile {
            font-size: 14px;
            max-width: 100%;
          }
        }

        &:last-child {
          .icon-style {
            @include mobile {
              right: 48px;
            }
          }
        }

        .icon-style {
          width: 79.81px;
          height: 88.56px;
          position: absolute;
          right: -10px;
          top: -10px;

          @include mobile {
            top: -20px;
            width: 60px;
            height: 60px;
            right: 30px;
          }

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @include desktop {
              object-fit: contain;
            }
          }
        }
      }
    }

    .boxes-description {
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        background: #1f1e20;
        height: auto;
      }

      .description {
        font-size: 26px;
        line-height: 1.4;
        padding: 30px;
        margin-top: 30px;

        @include mobile {
          font-size: 22px;
          line-height: 1.6;
          padding: 20px;
          padding-right: 20px;
          margin-top: 20px;
        }
      }
    }

    .hide-on-mobile {
      @include mobile {
        display: none;
      }
    }

    .hide-on-desktop {
      display: none;

      @include mobile {
        display: block;
      }
    }
  }

  // Section How works Style
  .how-works {
    background: #fffcf6;
    min-height: auto;

    .menu-section {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: auto;
    }

    .heading-section {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid $border-color;
      padding: 70px 20px;

      @include mobile {
        min-height: auto;
        padding: 50px 20px;
        max-width: 99%;
      }

      .title1 {
        font-weight: 600;
        font-size: 58px;
        letter-spacing: -3px;
        line-height: 68px;
        margin-bottom: 0;
        background: linear-gradient(180deg, #2e1500 37.36%, #c95632 100%);
        @include clip-text;

        @include mobile {
          font-size: 34px;
          line-height: 42px;
          letter-spacing: -2px;
          margin: 0;
        }
      }
    }

    .btn-demo-lg {
      margin-top: 81px;

      @include mobile {
        margin-top: 35px;
      }
    }

    .media-section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }

      .media-box {
        &:nth-child(2) {
          border-left: 1px solid $border-color;
          border-right: 1px solid $border-color;
        }
      }

      .number {
        color: $theme-primary;
        font-size: 30px;
        font-weight: 500;
        display: flex;
        align-items: center;

        &::after {
          display: block;
          width: 54px;
          height: 2px;
          content: "";
          margin-left: 10px;
          background: $theme-primary;
        }
      }
    }

    .content-box {
      padding: 61px 34px;

      @include mobile {
        padding: 34px 20px;
      }
    }

    .title {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 10px;
      font-weight: 500;
      color: #313131;
      max-width: 90%;
      letter-spacing: -1.5px;
      text-transform: capitalize;

      @include mobile {
        max-width: 100%;
        font-size: 20px;
        line-height: 30px;
      }
    }

    .description {
      font-size: 18px;
      line-height: 27px;
      color: $theme-primary-dark;
      max-width: 90%;
      letter-spacing: -0.5px;
      opacity: 0.8;

      @include mobile {
        max-width: 100%;
        font-size: 14px;
        line-height: 1.4;
      }
    }

    .list-sec {
      list-style: none;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      gap: 20px;
      border-bottom: 1px solid $border-color;
      padding: 0;
      background: radial-gradient(
        142.7% 45.93% at 50% 50%,
        rgba(255, 252, 246, 0) 68.24%,
        #fffcf6 100%
      );
      height: 283px;
      overflow: hidden;
      position: relative;

      &::before {
        position: absolute;
        bottom: -25vh;
        right: -17vw;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(129deg, #ffd49f 3.28%, #ff82b4 99.54%);
        filter: blur(102.23px);
        opacity: 0;
      }

      @include mobile {
        border-bottom: none;
      }

      li {
        background: rgba(#2e1500, 0.1);
        width: 277px;
        height: 65px;
        padding: 20px;
        border-radius: 50px;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        letter-spacing: -1px;

        &:nth-child(1) {
          margin-top: -20px;
        }

        &:nth-child(1),
        &:nth-child(5),
        &:last-child {
          width: 180px;
          font-size: 16px;
          line-height: 20px;
          height: 40px;
          opacity: 0.4;
        }
        &:nth-child(2),
        &:nth-child(6),
        &:nth-child(4) {
          width: 220px;
          font-size: 16px;
          line-height: 20px;
          height: 45px;
        }
      }

      &:hover {
        background: #1c1c1c;
        overflow: hidden;

        &::before {
          opacity: 1;
        }

        li {
          background: rgba(255, 252, 246, 0.09);
        }
      }
    }

    // slick-dots-bottom
    .slick-dots-bottom {
      bottom: 22px;

      @include mobile {
        bottom: 10px;
      }

      li {
        width: 10px !important;
        height: 10px !important;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        button {
          background: none;
          height: 10px;
          width: 10px;
          background: #2f1601;
        }
      }
    }

    .slick-active {
      button {
        width: 10px;
        background: #2f1601 !important;
      }
    }

    .slick-dots {
      margin-left: 20px;
      justify-content: flex-start;
    }
  }

  // Section of Why Unberry
  .why-unberry {
    background-color: $colorCream1;
    min-height: auto;

    .heading-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      height: 100%;
      padding: 0 30px 51px;
      border-right: 1px solid $border-color;

      &::before {
        position: absolute;
        bottom: -380px;
        left: -110px;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(
          262.63deg,
          rgba(255, 212, 159, 0.23) 8.02%,
          rgba(255, 130, 180, 0.23) 127.42%
        );
        filter: blur(240px);
      }

      @include mobile {
        border-top: 1px solid $border-color;
        height: auto;
        width: 100%;
        border-right: none;
        padding: 50px 20px;
        border-bottom: 1px solid $border-color;
      }
    }

    .title1 {
      font-size: 58px;
      line-height: 68px;
      margin-bottom: 0;
      background: linear-gradient(180deg, #2e1500 37.36%, #c95632 100%);
      @include clip-text;
      font-weight: 500;
      letter-spacing: -3px;

      @include mobile {
        font-size: 34px;
        line-height: 42px;
      }

      br {
        @include mobile {
          display: none;
        }
      }
    }

    .menu-section {
      min-height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // Section Blog
  .blog-section {
    background-color: #fffcf6;
    min-height: auto;
    display: flex;

    .menu-section {
      min-height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .content-section {
      padding: 0 30px;

      @include mobile {
        padding: 30px 20px;
      }
    }

    .heading-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 50px 0 15px;
      padding-right: 10px;

      @include mobile {
        padding-top: 20px;
        margin-bottom: 0px;
      }

      .title1 {
        font-size: 50px;
        margin-bottom: 0;
        background: -webkit-linear-gradient(
          top,
          rgba($theme-primary-dark, 1) 30px,
          rgba(#f46731, 1)
        );
        @include clip-text;

        @include mobile {
          font-size: 25px;
          font-weight: 500;
          line-height: 1.3;
          max-width: 70%;
        }
      }

      .view-all {
        font-size: 22px;
        font-weight: 600;
        background: -webkit-linear-gradient(
          top,
          rgba($theme-primary-dark, 1) 0px,
          rgba(#c95632, 1)
        );
        @include clip-text;

        @include mobile {
          position: relative;
          bottom: 0px;
          right: 0px;
          font-size: 18px;
        }
      }
    }
  }
}
