// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.endAutomationStyle {
  background: $white;
  padding: 94px 60px;

  @include mobile {
    padding: 50px 20px;
  }

  .title1 {
    color: $black;
    font-weight: 500;
    font-size: 48.83px;
    line-height: 54px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;

    @include desktop-lg {
      max-width: 60%;
    }

    @include mobile {
      font-size: 30px;
      line-height: 31px;
      text-align: left;
      max-width: 100%;
    }
  }

  .title4 {
    font-weight: 400;
    font-size: 39.06px;
    line-height: 60px;
    letter-spacing: -2px;

    @include mobile {
      color: $black;
      font-size: 25px;
      line-height: 36px;
    }
  }

  .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    max-width: 80%;

    @include desktop-lg {
      max-width: 60%;
    }

    @include mobile {
      max-width: 100%;
    }
  }

  .accordianCardSection {
    display: flex;
  }

  .accordianCard {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;

    @include mobile {
      position: relative;
    }

    .imageCard {
      position: absolute;
      height: 43vh;
      width: 100%;
      bottom: 0px;

      @include desktop-lg {
        height: 51vh;
      }

      @include mobile {
        height: 140px;
        bottom: 0px;
        position: absolute;
      }

      img {
        object-fit: contain;
        object-position: right;
      }
    }

    .imageCard2 {
      position: relative;
      height: 350px;
      width: 100%;
      bottom: 0;

      @include mobile {
        height: 140px;
        bottom: 0px;
        position: absolute;
      }

      img {
        object-fit: contain;
        object-position: right;
      }
    }

    .imageCard3 {
      position: relative;
      height: 450px;
      width: 100%;
      bottom: 106px;

      @include mobile {
        height: 180px;
        bottom: 0px;
        position: absolute;
      }

      img {
        object-fit: contain;
        object-position: right;
      }
    }

    .contentSec {
      padding: 50px;

      @include mobile {
        padding: 20px 20px 150px;
      }
    }

    .listStyle {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 24px;
      list-style: none;
      padding: 0;
      margin-top: 30px;
      max-width: 70%;

      @include mobile {
        gap: 5px 0px;
        max-width: 100%;
        flex-direction: column;
      }

      .imgIcon {

        @include mobile {
          scale: 0.7;
        }
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 0 14px;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: $black;
      min-width: 220px;

      @include mobile {
        font-size: 11px;
        line-height: 14px;
        gap: 0 10px;
        min-width: auto;
      }
    }
  }

  .videoSection {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }

  .backgroundStyle1 {
    height: 100%;
    background-position: bottom right;
    background-size: 90%;
    background-repeat: no-repeat;

    @include desktop-lg {
      background-size: 70%;
    }
  }

  .backgroundStyle2 {
    height: 100%;
    background-position: bottom right;
    background-size: 80%;
    background-repeat: no-repeat;

    @include desktop-lg {
      background-size: 70%;
    }
  }

  .backgroundStyle3 {
    height: 100%;
    background-position: bottom right;
    background-size: 75%;
    background-repeat: no-repeat;

    @include desktop-lg {
      background-size: 70%;
    }
  }
}
