// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.instantScoreStyle {
  padding:50px 80px;
  position: relative;

  @include tablet {
    padding-bottom: 0;
  }

  @include mobile {
    padding-bottom: 0;
    padding:30px 20px;
  }

  .btnSection {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .title {
    color: $black;
    font-weight: 400;
    font-size: 61.04px;
    line-height: 65px;
    letter-spacing: -2px;

    @include mobile {
      font-size: 40px;
      line-height: 45px;
      font-weight: 500;
    }
  }

  .descriptionText {
    max-width: 65%;

    @include mobile {
      max-width: 100%;
    }
  }

  .contentSection {
    padding: 95px 0 56px;
    display: flex;
    flex-direction: column;

    @include tablet {
      padding: 85px 0;
    }

    @include mobile {
      padding: 40px 0;
    }
  }

  .cardSection {
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    .imageItem {
      position: relative;
      height: 440px;
      width: 100%;

      @include mobile {
        height: 240px;
      }
    }
  }
}
