@import "antd/dist/antd.css";

// variables
@import "./variables/colors";
@import "./variables/mixins";

// theme styles files
@import "./xtras";
@import "./fonts";

@import "../pages/blog/blog";

// custom css
* {
  font-family: "IBM Plex Sans", sans-serif;
}

::selection {
  color: $white !important;
  background: rgba($theme-primary, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $theme-primary-dark;
}

.font-condensed {
  font-family: $fontCondensed;
}

.app-container {
  position: relative;
  overflow-x: hidden;
}

.ant-layout {
  background-color: $white;
}

.animation-block {
  overflow: hidden;
}

p {
  font-size: 14px;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: rgba($black, 0.5);
}

.title1 {
  font-weight: 500;
  font-size: 76.29px;
  line-height: 76px;
  letter-spacing: -0.03em;
  font-family: $fontCondensed;

  @include mobile {
    font-size: 48.83px;
    line-height: 50px;
  }
}

.d-flex {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.container-width {
  max-width: 1920px;
  margin: 0 auto;
}

// img-white
.img-white {
  filter: contrast(0) brightness(100);
}

.img-black {
  filter: grayscale(100);
}

.h-100 {
  height: 100%;
}

// d-xs-none
.d-xs-none {
  @include mobile {
    display: none !important;
  }
}

.d-xs-visible {
  display: none;

  @include mobile {
    display: block;
  }
}

// horizontal-scroll
.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  @include scrollHide();
}

// Button Style here
.ant-btn-primary {
  background: $theme-secondary;
  border: none;
  height: 45px;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 50px;

  &:hover,
  &:focus {
    background: lighten($theme-secondary, 10%);
  }

  span {
    position: relative;
    top: 2px;
  }
}

.ant-btn-primary[disabled] {
  background: #f5f5f5 !important;
}

.btn-default {
  background: #f3f3f3;
  border: none;
  height: 45px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: $theme-secondary;
  padding: 4px 20px;

  &:hover,
  &:focus {
    background: #f3f3f3;
    color: $theme-secondary;
  }
}

.tag-default {
  background: #f3f3f3;
  border: none;
  height: 45px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: $theme-secondary;
  padding: 4px 20px;
}

// text Style
.text-danger {
  color: $theme-danger;
}

// logo-white
.logo-white {
  img {
    filter: contrast(0) brightness(100);
  }
}

.layout-primary {
  min-height: 100vh;

  // sidebar-section
  .sidebar-section {
    max-width: 100px !important;
    overflow: hidden;
    position: fixed;

    a {
      color: white;
      font-size: 18px;
      display: flex;
      transform: rotate(270deg);
      flex-direction: row-reverse;
    }
  }

  .content-section {
    display: flex;
    flex-direction: column;
  }

  .ant-layout-footer {
    padding: 0;
    background: $white;

    .footer {
      border-left: 1px solid #dcc797;
      margin-left: 49px;
      padding: 20px;
      display: flex;
      justify-content: center;
      justify-content: space-between;
      background: $white;

      @include mobile {
        margin-left: 29px;
        flex-direction: column;
      }
    }

    .icon {
      width: 30px;
      height: 30px;
      margin-left: 15px;
      transition: all 0.5s ease-in-out;

      @include mobile {
        margin-left: 0px;
        margin-right: 15px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .copyright-section {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .copyright {
      margin-bottom: 0;
      font-size: 12px;
      margin-top: 5px;
    }
  }
}

// Mobile Header
.mobile-header {
  background: rgba(#1a110d, $alpha: 0.9);
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  @include mobile {
    display: flex;
  }

  .btn-demo {
    min-width: 157px;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: #100c0b;
    color: $colorCream;
    font-weight: 600;
    font-size: 16px;
  }
}

.workforce-card {
  @include mobile {
    background: #fffcf6;
  }
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .box-style {
    padding: 87px 55px 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(1) {
      border-bottom: 1px solid $border-color;
      border-right: 1px solid $border-color;

      @include mobile {
        border-bottom: none;
      }
    }

    &:nth-child(2) {
      border-bottom: 1px solid $border-color;
      @include mobile {
        border-bottom: none;
      }
    }

    &:nth-child(3) {
      border-right: 1px solid $border-color;
      @include mobile {
        border-bottom: none;
      }
    }

    @include mobile {
      padding: 34px 26px;
      max-width: 80%;
      min-width: 80%;
    }

    .img-box {
      width: 75px;
      position: relative;
      margin-left: -15px;

      @include mobile {
        margin-left: 0px;
        height: 50px;
        width: 50px;
        margin-bottom: 20px;
      }

      &:nth-child(2) {
        .icon-style {
          transform: scale(1.3);
        }
      }

      &:nth-child(3) {
        img {
          transform: scale(0.95);
        }
      }
    }

    .icon-style {
      @include mobile {
        width: 70px;
        margin-left: -10px;
      }
    }

    .icon-scale {
      @include mobile {
        width: 90px;
        margin-left: -15px;
      }
    }
  }

  .title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
    max-width: 60%;
    font-weight: 600;
    margin-top: 0px;

    @include mobile {
      max-width: 90%;
      font-size: 25px;
      font-weight: 600;
    }
  }

  .description {
    font-size: 24px;
    line-height: 33px;
    color: $theme-primary-dark;
    opacity: 0.9;
    letter-spacing: -0.5px;
    max-width: 88%;
    margin-bottom: 0;
    font-weight: 350;

    span {
      font-weight: 500;
    }

    @include mobile {
      max-width: 100%;
      font-size: 20px;
      line-height: 24px;
    }
  }

  // slick-dots-bottom
  .slick-dots-bottom {
    bottom: 22px;

    @include mobile {
      bottom: 50px;
    }

    li {
      width: 10px !important;
      height: 10px !important;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      button {
        background: none;
        height: 10px;
        width: 10px;
        background: #2f1601;
      }
    }
  }

  .slick-active {
    button {
      width: 10px;
      background: #2f1601 !important;
    }
  }

  .slick-dots {
    margin-left: 20px;
    justify-content: flex-start;
  }
}

// Section Contact
.thanls-modal-style {
  .title3 {
    font-weight: 500;
    font-size: 31.25px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -1px;
    color: $black;
    margin-top: 30px;
  }

  .ant-modal {
    max-width: 440px;
  }

  .description {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba($black, 0.7);
  }

  .modal-body-style {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .ant-modal-content {
    border-radius: 20px;
  }

  .ant-modal-close-x {
    font-size: 22px;
    color: $theme-secondary;
  }

  .thanks-lottie {
    width: 250px;
    height: 250px;
  }

  .ani-img {
    width: 200px;
  }

  .animation-frame {
    position: relative;
    margin-top: 50px;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      object-fit: cover;
      background: transparent;
    }
  }

  iframe {
    border: none;
    background: none;
    width: 220px;
    height: 220px;
  }

  .ant-modal-close {
    display: none;
  }

  .close-btn {
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    z-index: 9;
  }

  .content {
    position: relative;
    z-index: 1;
  }
}

// Logo section
.logo-style {
  width: 84px;
  height: 24px;
}

// Border Line
.border-style {
  width: 100%;
  height: 1px;
  background: $border-color-2;
  position: relative;
}

.btn-demo-lg {
  background: #2e1500;
  width: 179.65px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;

  @include mobile {
    font-size: 20px;
    height: 46px;
  }

  span {
    top: 0;
  }
}

// Hide Style
.show-on-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.show-on-desktop {
  @include mobile {
    display: none;
  }

  &.w-full {
    width: 100%;
  }
}

// Primary Width
.primary-width {
  width: calc(100vw - 30px);
}

// privacy-link
.privacy-link {
  text-transform: uppercase;
  color: $theme-primary-dark;
  font-weight: 600;
  font-size: 13px;

  &:hover {
    color: $textDarkColor;
  }
}

// btn-primary
.btn-primary {
  background: $theme-primary-new;
  height: 58px;
  min-width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-weight: 500;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
  font-size: 18px;

  @include mobile {
    font-size: 14px;
  }

  &:hover {
    color: $white;
    background-color: darken($theme-primary-new, 15%);
  }
}

// Header Primary
.header-primary {
  padding: 20px $p-padding-inline;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  // background: $white;

  @include mobile {
    padding: 20px;
    width: 100%;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.03);
    background: $white;
  }

  .logo-sec {
    display: flex;
  }

  .container-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-black {
    @include mobile {
      img {
        width: 99px !important;
        height: 27px !important;
      }
    }
  }

  .btn-primary {
    height: 38px;
    min-width: 119px;
    padding: 0 20px;
    color: $white;
    font-family: $fontCondensed;

    &:hover {
      opacity: 1;
    }
  }

  .menu-header {
    display: flex;
    gap: 0 38px;
    align-items: center;
    text-transform: uppercase;

    @include mobile {
      background-color: #171717;
      position: fixed;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 999;
      flex-direction: column;
      gap: 40px 38px;
      align-items: flex-start;
      padding: 100px 30px 30px;
      left: -100%;
      transition: all 0.5s ease-in-out;
    }

    a {
      color: $black;
      font-family: $fontCondensed;
      font-weight: 500;
      font-size: 16px;
      line-height: 36px;
      transition: all 0.5s ease-in-out;

      @include mobile {
        color: $white;
        font-size: 24px;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    .btn-primary {
      color: $white;

      @include mobile {
        display: none;
      }
    }
  }

  .mobile-section {
    gap: 0 4px;
    display: none;

    @include mobile {
      display: flex;
    }

    .btn-toggle {
      width: 60px;
      height: 38px;
      background: #f4f4f4;
      border-radius: 30px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 999;
    }
  }

  /*---------------------
HAMBURGER MENU
----------------------*/

  .btn-toggle {
    .bar,
    .bar:after,
    .bar:before {
      width: 22px;
      height: 3px;
    }

    .bar {
      position: relative;
      background: black;
    }

    .bar.animate {
      background: rgba(255, 255, 255, 0);
    }

    .bar:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 6px;
      background: black;
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .bar:after {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      background: black;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .bar.animate:after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .bar.animate:before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  // Mene Show
  .menu-active {
    &.menu-header {
      left: 0;
    }
  }
}

.social-sec {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 8px;

  @include mobile {
    justify-content: center;
  }

  a {
    width: 42.45px;
    height: 42.45px;
    border-radius: 50px;
    background: #3e3e3e;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// blog-carousel

.blog-carousel {
  .ant-carousel .slick-track {
    display: flex;
    justify-content: flex-end;
  }

  .slick-track .slick-slide {
    border-right: 1px solid #e0e0e0;
    padding: 0 50px;

    @include mobile {
      border: none;
      padding: 0 5px;
    }
  }

  .slick-list {
    padding-left: 0px !important;

    @include mobile {
      padding-left: 20px !important;
    }
  }

  .slick-slider .slick-arrow {
    background: #e0e0e0;
    position: absolute;
    top: -120px;
    right: 0;
    left: auto;
    width: 62px;
    height: 39px;

    @include mobile {
      top: -4.2rem;
      width: 42px;
      height: 29px;
    }

    &.slick-prev {
      right: 150px;
      background: url("https://assets.unberry.com/media/images/arrow-left.svg");
      background-repeat: no-repeat;
      background-size: contain;

      @include mobile {
        right: 70px;
        display: none !important;
      }
    }
    &.slick-next {
      background: url("https://assets.unberry.com/media/images/arrow-right.svg");
      background-repeat: no-repeat;
      right: 80px;
      background-size: contain;

      @include mobile {
        right: 20px;
        display: none !important;
      }
    }
  }
}
.upNext-blog-carousel {
  .slick-slider .slick-arrow {
    top: -100px;
  }

  .slick-track .slick-slide {
    border: none;
    padding: 0 20px;

    @include mobile {
      padding: 0 5px;
    }
  }
}

.container-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @include tablet {
    overflow-x: scroll;
    gap: 0 20px;
    justify-content: flex-start;
    @include scrollHide();
  }

  @include mobile {
    overflow-x: scroll;
    gap: 0 20px;
    justify-content: flex-start;
    @include scrollHide();
  }

  .panel {
    height: 85vh;
    cursor: pointer;
    width: 212px;
    position: relative;
    transition: all 0.3s ease-in;
    overflow: hidden;
    border-radius: 40px;
    margin-top: 40px;

    @include tablet {
      width: 100%;
      min-width: 90%;
      border-radius: 24px;
      height: 560px;
    }

    @include mobile {
      width: 100%;
      min-width: 90%;
      border-radius: 24px;
      height: 560px;
    }

    &.gray {
      background: #f4f4f4;

      .heading {
        transform: rotate(270deg);
        margin-top: 240px;
      }
    }

    &.purple {
      background: #e4ddef;

      .heading {
        transform: rotate(-90deg);
        margin-bottom: 160px;
      }
    }

    &.orange {
      background: #fbefe6;

      .heading {
        transform: rotate(270deg);
        margin-top: 200px;
      }
    }
  }

  .head {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 50px 0px;
    transition: all 0.1s ease-in-out;

    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }

    .head-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 212px;
      cursor: pointer;
    }
  }

  .heading {
    white-space: nowrap;
    font-weight: 400;
    font-size: 39.06px;
    line-height: 60px;
  }

  .content-section {
    opacity: 0;
    width: 58vw;
    max-width: 58vw;

    @include tablet {
      width: 100%;
      max-width: 100%;
      opacity: 1;
    }

    @include mobile {
      width: 100%;
      max-width: 100%;
      opacity: 1;
    }
  }

  @include desktop {
    .active {
      flex-grow: 2;

      .head-wrap {
        opacity: 0;
      }

      .content-section {
        opacity: 1;
        animation: fadeIn 0.5s;

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }

  @include desktop {
    .active {
      .head {
        animation: fadein 0.5s forwards ease-in-out;
      }

      @keyframes fadein {
        0% {
          opacity: 0;
        }
        66% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .head1 {
        &::before {
          background: url("https://assets.unberry.com/media/images/automation1.png");
          height: 100%;
          width: 58vw;
          background-position: bottom right;
          background-size: 98%;
          background-repeat: no-repeat;
          position: absolute;
          bottom: 0;
          right: -30px;
          content: "";
        }
      }

      .head2 {
        &::before {
          background: url("https://assets.unberry.com/media/images/automation2.png");
          height: 100%;
          width: 58vw;
          background-position: bottom right;
          background-size: 85%;
          background-repeat: no-repeat;
          position: absolute;
          bottom: -15vh;
          right: -30px;
          content: "";
        }
      }

      .head3 {
        &::before {
          background: url("https://assets.unberry.com/media/images/automation3.png");
          height: 100%;
          width: 58vw;
          background-position: bottom right;
          background-size: 85%;
          background-repeat: no-repeat;
          position: absolute;
          bottom: 0;
          right: -30px;
          content: "";
        }
      }
    }
  }

  .active h2 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
}

.better-custom-overlay {
  background-color: $black !important;
}

.react-responsive-modal-root {
  .better-talent-modal {
    max-width: 100%;
    padding: 0;
    background: none;
    box-shadow: none;
    margin: 0;
    overflow-y: visible;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      margin: 0;
      overflow-y: hidden;
    }

    .react-responsive-modal-closeButton {
      background: transparent;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 40px;
      right: 1.5vw;

      @include desktop-lg {
        right: 3vw;
      }

      @include mobile {
        right: 20px;
        top: 20px;
      }

      &:focus {
        box-shadow: none;
        outline: none;
      }

      svg {
        width: 40px;
        height: 40px;
        fill: $white;
      }
    }
  }
}

// __rcs-handle-line

.__rcs-handle-root {
  .__rcs-handle-line {
    width: 0 !important;

    &::after {
      position: absolute;
      top: 50px;
      left: 80px;
      width: 100%;
      height: 100%;
      content: "The Unberry Experience";
      white-space: nowrap;
      font-weight: 500;
      font-size: 32px;
      line-height: 60px;
      letter-spacing: -2px;

      @include mobile {
        top: 30px;
        left: 60px;
        font-size: 22px;
      }
    }
  }

  .__rcs-handle-button {
    background: url("https://assets.unberry.com/media/images/switch.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0% !important;
    border: none !important;
    box-shadow: none !important;
    backdrop-filter: initial !important;
    width: 66px !important;
    height: 66px !important;
    position: relative;
    top: -40px;

    > div {
      display: none !important;
    }
  }
}

.footer-section {
  background: #1c1c1c;
  border-radius: 50px 50px 0 0;
  overflow: hidden;
  padding-top: 50px;
  position: relative;

  @include mobile {
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
  }

  &::before {
    position: absolute;
    content: "";
    height: 84px;
    width: 100%;
    bottom: 0;
    background: #ac95cf;
    filter: blur(240px);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
}

// footer-primary
.footer-primary {
  padding: 0px $p-padding-inline 36px;
  position: relative;

  @include tablet {
    padding: 20px 40px 20px;
  }

  @include mobile {
    padding: 80px 20px 20px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    position: relative;
    z-index: 1;

    @include mobile {
      text-align: center;
      flex-direction: column-reverse;
    }
  }

  .menu-footer {
    display: flex;
    gap: 0 35px;

    @include mobile {
      display: none;
    }

    a {
      color: $white;
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      text-transform: uppercase;
    }
  }

  .logo-white {
    margin: 10px 0;

    @include mobile {
      margin: 20px 0 0;
    }

    img {
      min-width: 180px;
    }
  }

  .copyright {
    color: #a8a8a8;
    margin-bottom: 0;
    text-align: center;
    margin-top: 20px;

    a {
      color: #a8a8a8;
    }
  }
}

.subscribe-main-card {
  padding: 0 100px;
  margin: 78px 0;

  @include tablet {
    padding: 0 20px;
    margin: 50px 0 50px;
  }

  @include mobile {
    padding: 0 20px;
    margin: 50px 0 50px;
  }

  .subscribe-card {
    display: flex;
    gap: 10px;
    padding: 50px 30px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    background: #f4f4f4;

    @include tablet {
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      padding: 40px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      padding: 20px;
    }

    .content-sec {
      display: flex;
      gap: 0 20px;
      width: 45%;

      @include tablet {
        margin-bottom: 30px;
        width: 100%;
      }

      @include mobile {
        flex-direction: column;
        margin-bottom: 30px;
        width: 100%;
      }

      .icon-box {
        min-width: 60px;
        min-height: 60px;
        position: relative;

        @include tablet {
          width: 60px;
          height: 60px;
        }

        @include mobile {
          width: 50px;
          height: 50px;
        }

        img {
          width: 100%;
        }
      }
    }

    .title4 {
      font-weight: 500;
      font-size: 30px;
      line-height: 31px;
      color: $black;
      margin-bottom: 2px;
      margin-top: 0;
      letter-spacing: -0.66px;

      @include mobile {
        font-size: 20px;
      }
    }

    .description {
      font-weight: 300;
      font-size: 20px;
      line-height: 26px;
      color: $black;
      min-width: 600px;
      text-align: left;
      opacity: 0.5;
      margin-bottom: 0;

      @include mobile {
        font-size: 16px;
      }
    }

    // subscribe
    .subscribe-form {
      width: 100%;
      position: relative;
      top: 10px;

      @include tablet {
        top: 0;
      }

      @include mobile {
        top: 0;
      }

      .ant-input {
        height: 50px;
        border-radius: 50px;
        background: $white;
        border: none;
        padding: 0 20px;
        border: 1px solid $white;

        &:focus {
          box-shadow: none !important;
          outline: none !important;
        }
      }

      .ant-form-horizontal {
        @include tablet {
          gap: 20px !important;
        }

        @include mobile {
          gap: 20px 0 !important;
        }
      }

      .ant-form-item {
        margin-bottom: 0;
      }

      input::placeholder {
        color: $black;
        font-weight: 400;
        font-size: 16px;
        line-height: 60px;
      }

      .ant-btn {
        display: flex;
        align-items: center;
        background: none;
        border: 1px solid $black;
        width: 250px;
        height: 50px;
        font-weight: 500;
        color: $black;

        @include tablet {
          width: 200px;
        }

        @include mobile {
          width: 170px;
        }

        span {
          width: 100%;
          text-align: center;
        }
      }

      .ant-form-item {
        width: 100%;
        height: 52px;
      }

      .ant-form-horizontal {
        display: flex;
        gap: 0 20px;

        @include tablet {
          flex-direction: column;
        }

        @include mobile {
          flex-direction: column;
        }
      }
    }

    .ant-input-status-error:not(.ant-input-disabled):not(
        .ant-input-borderless
      ).ant-input {
      background: rgba(255, 255, 255, 0.14);
      border: 1px solid red;
    }

    .ant-form-item-explain-error {
      display: none;
    }
  }

  .ant-form-item-with-help .ant-form-item-explain {
    display: none !important;
  }

  .ant-form-item-control-input {
    min-height: 52px;
  }

  .ant-btn-primary[disabled] {
    color: $black;
    opacity: 0.5;
  }

  .ant-btn-primary span {
    top: 0;
  }
}

.content-blog-layout {
  display: flex;
  gap: 0 74px;
  max-width: 1200px;
  margin: 0 auto;

  @include mobile {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }

  .sidebar {
    width: 30%;

    @include mobile {
      width: 100%;
    }

    .subscribe-main-card {
      padding: 0;
      margin: 0;

      @include desktop {
        position: sticky;
        top: 80px;
      }

      @include mobile {
        background: #f4f4f4;
        margin: 20px;
        border-radius: 20px;
      }
    }

    .subscribe-card {
      background: none;
      flex-direction: column;
      padding-top: 20px;
      margin-top: 30px;

      .ant-btn-primary {
        border: none;
        color: $white;
      }

      @include mobile {
        text-align: center;
        margin: 0px 0 30px;
        padding: 30px 20px;
      }

      .title4 {
        color: $black;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
      }

      .description {
        color: rgba($black, 0.6);
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;

        @include mobile {
          text-align: center;
          min-width: auto;
        }
      }

      .content-sec {
        @include mobile {
          margin-bottom: 0;
        }
      }

      .icon-box {
        display: none;
      }

      .ant-input {
        width: 100%;
      }

      .social-sec {
        justify-content: flex-start;
        margin-top: 30px;

        @include mobile {
          justify-content: center;
        }

        a {
          background: #e4ddef;
          transition: all 0.5s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .subscribe-form .ant-form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    @include mobile {
      align-items: center;
    }

    &.ant-form-horizontal {
      @include mobile {
        gap: 10px 0 !important;
      }
    }

    .ant-btn-primary[disabled] {
      color: rgba($black, 0.4);
      opacity: 1;

      @include mobile {
        background-color: $white !important;
        opacity: 0.7;
        color: rgba($black, 0.7);
      }
    }

    .ant-form-item {
      margin: 0px 0 10px;
    }

    .ant-input {
      background: rgba($black, 0.07);

      @include mobile {
        border-color: rgba(black, 0.07);
      }

      &::placeholder {
        color: $black;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $black;
      }

      &::-ms-input-placeholder {
        color: $black;
      }
    }

    .ant-btn {
      background: $theme-primary-new;
      width: 100%;
    }
  }
}

.home-menu-white {
  .header-primary {
    background-color: $white;
    transition: all 0.5s ease-in-out;
  }
}

// wining-slider
.wining-slider {
  .slick-list {
    padding-top: 30px;
  }

  .ant-carousel .slick-dots {
    top: 0;
    bottom: auto;
    left: 0;
    justify-content: flex-start;
    margin: 0;
  }
  .ant-carousel .slick-dots li button {
    background: #442712;
    opacity: 0.2;
    border-radius: 20px;
    overflow: hidden;
  }

  .ant-carousel .slick-dots li.slick-active {
    width: 16px;

    button {
      background: #442712;
      width: 16px;
      opacity: 1;
    }
  }
}

.blog-list-container {
  .header-primary {
    background-color: $white;
  }
}

// hero-marquee
.hero-marquee {
  .marquee {
    &:first-child {
      margin-right: 10px;
    }
  }
}

// For Video Autoplay
.safari_only {
  display: none;
}

@supports (-webkit-backdrop-filter: blur(1px)) {
  .safari_only {
    display: block;
  }
}

// blog-detaul-mode
.blog-detaul-mode {
  overflow-x: hidden;
}

.card-styles {
  margin: 50px auto 0;
  max-width: 1680px;

  .cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    margin-bottom: 90px;
    overflow: hidden;

    @include mobile {
      overflow-x: scroll;
      height: auto;
      gap: 0 20px;
      @include scrollHide();
      justify-content: flex-start;
      padding-left: 20px;
    }
  }
  .custom-card {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

    @include mobile {
      position: relative;
      min-width: 90%;
      border-radius: 20px;
      height: 580px;
      overflow: hidden;
    }
  }

  .card1 {
    background-color: #fbefe6;
    color: #442712;

    @include desktop {
      z-index: 1;
      background-image: url("https://assets.unberry.com/media/images/m-automation1.png");
      background-repeat: no-repeat;
      background-size: 55%;
      background-position: right 14vh;
    }
  }
  .card2 {
    background-color: #e4ddef;
    @include desktop {
      top: 40px;
      z-index: 2;
      background-image: url("https://assets.unberry.com/media/images/automation4.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 36vw 7vh;
    }
  }
  .card3 {
    background-color: #daeeee;
    color: #184444;
    @include desktop {
      top: 80px;
      z-index: 3;
      background-image: url("https://assets.unberry.com/media/images/m-automation3.png");
      background-repeat: no-repeat;
      background-position: 45vw 8vh;
      background-size: contain;
    }
  }
  .hiring-mngr {
    background-color: #daeeee;
    color: #184444;
    @include desktop {
      top: 80px;
      z-index: 3;
      background-image: url("https://assets.unberry.com/media/images/hiring-mngr.png");
      background-repeat: no-repeat;
      background-position: 45vw 12vh;
      background-size: 45%;
    }
  }
  .opacity {
    transition: 0.4s ease;
  }
  .scale {
    transition: 0.4s ease;
    width: 95%;
  }
}

// Company Logos
.company-logos {
  .marquee-container {
    gap: 0 70px;
  }

  .marquee:first-child {
    margin-right: 0;
  }

  .marquee:last-child {
    margin-left: -50px;
  }

  .child {
    margin: 0 30px;

    @include mobile {
      margin: 0 20px;
    }
  }
}

// Section Contact
.demo-form-style {
  .ant-input {
    border: none;
    height: 53px;
    background: rgb(25 25 25);
    border-radius: 70px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: $white;
    padding: 0 30px;
    border: 1px solid transparent;

    &:focus,
    &:hover {
      outline: none;
      box-shadow: none !important;
    }
  }

  .ant-form-item-control-input .ant-select-selector {
    height: 53px;
    background: rgb(25 25 25);
    border: none;
    border-radius: 70px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: $white;
    border: 1px solid transparent;

    &:focus,
    &:hover {
      outline: none;
      box-shadow: none;
      background: rgba(244, 244, 244, 0.1);
    }
  }

  .ant-select-selection-placeholder {
    color: $white;
    opacity: 0.5;
  }

  ::placeholder {
    color: $white;
    opacity: 0.5;
  }

  :-ms-input-placeholder {
    color: $white;
    opacity: 0.5;
  }

  ::-ms-input-placeholder {
    color: $white;
    opacity: 0.5;
  }

  .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ac95cf;
    border-radius: 57px;
    margin: 50px auto 0;
    height: 57px;
    font-size: 18px;
    min-width: 250px;
    font-weight: 500;
    line-height: 23px;
    padding-bottom: 10px;

    @include mobile {
      width: 100%;
      margin-top: 30px;
    }
  }

  .ant-input-status-error:not(.ant-input-disabled):not(
      .ant-input-borderless
    ).ant-input,
  .ant-select-status-error.ant-select:not(.ant-select-disabled):not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    background: rgba(244, 244, 244, 0.1);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .ant-form-item-explain-error {
    display: none;
  }

  .grid-style {
    display: flex;
  }

  .ant-select-focused .ant-select-selector,
  .ant-select-selector:focus,
  .ant-select-selector:active,
  .ant-select-open .ant-select-selector {
    box-shadow: none !important;
    background: rgba(244, 244, 244, 0.1);
    border-color: rgba(244, 244, 244, 0.1) !important;
  }

  .ant-form-item {
    @include mobile {
      margin-bottom: 10px;
    }
  }

  .ant-select-arrow {
    color: $white;
    font-size: 17px;
    right: 21px;

    .anticon {
      background: url("https://assets.unberry.com/media/images/arrow-down.svg");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;

      svg {
        display: none;
      }
    }
  }

  .checkbox-style {
    .ant-form-item-control-input-content {
      display: flex;
      align-items: flex-start;
    }

    .ant-checkbox {
      position: relative;
      top: 6px;
    }

    .checkbox-text {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.02em;
      color: $white;
      opacity: 0.5;

      a {
        color: $white;
        opacity: 1;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}

// markdown-style
.markdown-style {
  padding: 50px 0px;
  margin: 0 auto;
  width: 70%;

  @include mobile {
    width: 100%;
    padding: 50px 20px 10px;
  }

  h3 {
    font-size: 22px;
    line-height: 1.2 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2 !important;
    text-align: left !important;
  }

  p {
    font-size: 18px;
    text-align: left !important;
    color: rgba($black, 0.7);

    span {
      font-size: 18px !important;
    }
  }

  a,
  a span {
    color: $theme-primary-new !important;
  }

  img {
    @include mobile {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  }
}

// blog-detail-style
.blog-detail-style {

  .header-primary {
    background-color: #fbefe6;

    @include mobile {
      background-color: $white;
    }
  }

  &.menu-white {
    .header-primary {
      background-color: $white;
      transition: all 0.5s ease-in-out;
    }
  }

  .back-btn {
    display: flex;
    align-items: center;
    gap: 0 10px;
    color: $black;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    border: 0;
    background: none;
    position: relative;
    bottom: 1px;
    margin-left: 10px;
  }
}

// Tag Outline Active Style
.tag-black {
  background-color: $black;
  color: $white;
}

// skill-modal
.skill-modal {

  .ant-modal {
    min-width: 96vw;
    height: 94vh;
    border-radius: 20px;
    overflow: hidden;
  }

  .ant-modal-body {
    overflow: hidden;
    overflow-y: scroll;
    height: 94vh;
    border-radius: 20px;
  }
}