// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// auto-section

.homepageStyle {
  overflow-x: hidden;

  @include mobile {
    padding-top: 100px;
  }
  
  .footerSection {
    background: $black;
    border-radius: 50px 50px 0 0;
    overflow: hidden;
    padding-top: 50px;
    position: relative;

    @include mobile {
      display: flex;
      flex-direction: column;
      border-radius:20px 20px 0 0;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(257.89deg, #ff7a1a 4.84%, #ac95cf 50.02%);
      filter: blur(240px);
      content: "";
      height: 138px;
    }
  }
}
