// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.experienceLookStyle {
  background: $white;
  padding: 94px $p-padding-inline 0;

  @include tablet {
    padding: 50px 0px;
  }
  @include mobile {
    padding: 50px 0px 0;
  }

  .infoSection {

    @include mobile {
      padding: 20px;
    }
  }

  .title1 {
    color: $black;
    font-weight: 500;
    font-size: 48.83px;
    line-height: 54px;

    @include desktop-lg {
      max-width: 60%;
    }

    @include tablet {
      font-size: 30px;
      line-height: 31px;
      text-align: left;
      max-width: 90%;
    }
    
    @include mobile {
      font-size: 30px;
      line-height: 31px;
      text-align: left;
      max-width: 90%;
    }
  }

  .title4 {
    font-weight: 400;
    font-size: 39px;
    line-height: 60px;
    letter-spacing: -2px;

    @include tablet {
      color: $black;
      font-size: 25px;
      line-height: 36px;
      letter-spacing: -1.2px;
    }

    @include mobile {
      color: $black;
      font-size: 25px;
      line-height: 36px;
      letter-spacing: -1.2px;
    }
  }

  .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    max-width: 70%;

    @include desktop-lg {
      max-width: 70%;
    }
  }

  .contentSec {
    padding: 60px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
    overflow: hidden;

    @include mobile {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
  }

  .listStyle {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    margin-left: -20px;
    display: flex;

    @include tablet {
      width: 100%;
      margin-top: 20px;
      margin-left: -10px;
    }

    @include mobile {
      width: 100%;
      margin-top: 20px;
      margin-left: -10px;
    }

    tr {
      @include mobile {
        display: flex;
        flex-direction: column;
      }

      @include tablet {
        display: flex;
        flex-direction: column;
      }
    }

    .listItem {
      width: 100%;
      padding: 10px 20px;

      @include tablet {
        padding: 5px 5px;
      }

      @include mobile {
        padding: 5px 5px;
      }
    }

    .imgIcon {
      @include mobile {
        scale: 0.7;
      }
    }
  }

  .listItem {
    display: flex;
    align-items: flex-start;
    gap: 0 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $black;
    min-width: 220px;

    @include tablet {
      font-size: 16px;
      line-height: 24px;
      gap: 0 10px;
      min-width: auto;
    }

    @include mobile {
      font-size: 16px;
      line-height: 24px;
      gap: 0 10px;
      min-width: auto;
    }
  }

  .listBlockStyle {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    margin-top: 76px;
  }

  .containerPanel {
    align-items: normal;
    padding-left: 20px;
  }

  .bgMobileBoxStyle1 {
    height: 200px;
    width: 100%;
    position: relative;
    display: none;
    margin-left: 25px;
    top: 60px;

    @include tablet {
      display: block;
      scale: 1.4;
    }

    @include mobile {
      display: block;
      scale: 1.4;
      margin-right: 10px;
      margin-left: auto;
      width: 58vw;
      top: 20px;
    }

    .bgMobileStyle {
      object-fit: contain;
      object-position: right bottom;
    }
  }

  .bgMobileBoxStyle2 {
    height: 200px;
    width: 100%;
    position: relative;
    display: none;
    margin-left: 35px;
    top: 60px;

    @include tablet {
      display: block;
      scale: 1.6;
    }

    @include mobile {
      display: block;
      scale: 1.6;
      margin-top: 20px;
    }

    .bgMobileStyle {
      object-fit: contain;
      object-position: right;
    }
  }

  .bgMobileBoxStyle3 {
    height: 200px;
    width: 100%;
    position: relative;
    display: none;
    margin-left: 25px;
    top: 30px;

    @include tablet {
      display: block;
      scale: 1.4;
      margin-left: 0px;
    }

    @include mobile {
      display: block;
      scale: 1.4;
      margin-left: 0px;
      margin-top: 20px;
    }

    .bgMobileStyle {
      object-fit: contain;
      object-position: right top;
    }
  }

  .accordianCardLast {
    display: none;

    @include tablet {
      display: block;
      min-width: 1px;
      background-color: transparent;
    }

    @include mobile {
      display: block;
      min-width: 1px;
      background-color: transparent;
    }
  }

  // tagSection
  .tagSection {
    display: flex;
    align-items: center;
    gap: 15px;

    @include mobile {
      align-items: flex-start;
      flex-wrap: nowrap;
      overflow-x: scroll;
      @include scrollHide();
      padding-left: 20px;
    }

    .tagItem {
      height: 57px;
      min-width: 250px;
      border: 1px solid $black;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      line-height: 55px;
      letter-spacing: -0.5px;
    }
  }
}
