// variables
@import "../../styles/variables/colors";
@import "../../styles/variables/mixins";

// Section Contact
.contact-section {
  padding: 60px;
  display: flex;
  flex-direction: column;

  .contact-form-section {
    padding: 60px 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 47%;

    @include mobile {
      padding: 34px 11px;
    }
  }

  .description {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $white;
    opacity: 0.5;
    margin-top: 58px;
  }

  .border-style {
    @include mobile {
      top: -12px;
      display: flex;
    }
  }

  .title3 {
    color: $white;
    font-weight: 400;
    font-size: 25px;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  .form-style {
    margin-top: 30px;
    padding-right: 50px;

    @include mobile {
      padding-right: 20px;
    }

    .grid-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .ant-input {
    border: none;
    height: 53px;
    background: rgba(244, 244, 244, 0.1);
    border-radius: 70px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: $white;
    padding: 0 30px;
    border: 1px solid rgba(244, 244, 244, 0.1);

    &:focus,
    &:hover {
      outline: none;
      box-shadow: none !important;
    }
  }

  .ant-form-item-control-input .ant-select-selector {
    height: 53px;
    background: rgba(244, 244, 244, 0.1);
    border: none;
    border-radius: 70px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: $white;
    border: 1px solid rgba(244, 244, 244, 0.1);

    &:focus,
    &:hover {
      outline: none;
      box-shadow: none;
      background: rgba(244, 244, 244, 0.1);
    }
  }

  .ant-select-selection-placeholder {
    color: $white;
    opacity: 0.5;
  }

  ::placeholder {
    color: $white;
    opacity: 0.5;
  }
  
  :-ms-input-placeholder {
    color: $white;
    opacity: 0.5;
  }
  
  ::-ms-input-placeholder {
    color: $white;
    opacity: 0.5;
  }

  .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ac95cf;
    border-radius: 57px;
    margin-top: 50px;
    height: 57px;
    font-size: 18px;
    width: 100%;
    font-weight: 500;
    line-height: 23px;

    @include mobile {
      width: 100%;
    }
  }

  .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-select-status-error.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector {
    background: rgba(244, 244, 244, 0.1);
  }


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .ant-form-item-explain-error {
    display: none;
  }

  .grid-style {
    display: flex;
  }

  .ant-select-focused .ant-select-selector,
  .ant-select-selector:focus,
  .ant-select-selector:active,
  .ant-select-open .ant-select-selector {
    box-shadow: none !important;
    background: rgba(244, 244, 244, 0.1);
  }
}
