// variables
@import "../../../styles/variables/colors";
@import "../../../styles/variables/mixins";

// auto-section
.candidatesAbsolutelyStyle {
  padding-bottom: 150px;
  background: $white;
  padding: 54px 60px;

  .title1 {
    color: $black;
    font-weight: 400;
    font-size: 61.04px;
    line-height: 65px;
    letter-spacing: -2px;
    max-width: 50%;
  }

}
